Asumiendo que todas las bases se ven de forma semejante, o sea que todas contengan la informacion segregada de la misma forma, voy a ordenar solo un a√±o y el resto se debe resolver solo.

In [1]:
import pandas as pd
import numpy as np

# 2017

## Cirugias

In [2]:
cirugias=pd.read_csv('Datasets\\Cirugias\\ConsultaH_Intervenciones_Quirurgicas_2017_v1.csv',encoding='ISO-8859-1')
cirugias.replace('NE_0002', np.nan, inplace=True)
cirugias.replace('NE_0001', np.nan, inplace=True)
cirugias.fillna(0,inplace=True)

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\1634857250.py:1: SyntaxWarning: invalid escape sequence '\C'
  cirugias=pd.read_csv('Datasets\Cirugias\ConsultaH_Intervenciones_Quirurgicas_2017_v1.csv',encoding='ISO-8859-1')

In [3]:
cirugias=cirugias[cirugias['SECTOR']=='GOBIERNO REGIONAL']
cirugias.iloc[:,10:]=cirugias.iloc[:,10:].apply(pd.to_numeric,errors='coerce')

In [4]:
cirugias.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
0,2017,12,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0.0,0.0,0
1,2017,6,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0.0,0.0,0
2,2017,9,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0.0,0.0,0
3,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0.0,0.0,0
4,2017,10,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0.0,0.0,0

In [5]:
cirugias_to_sum = cirugias.columns[10:]
cirugias=cirugias.groupby(['CO_IPRESS','ANHO','MES'])[cirugias_to_sum].sum()

In [6]:
cirugias=cirugias.reset_index()

## Procedimientos

In [7]:
procedimientos=pd.read_csv("Datasets\\Procedimientos\ConsultaG_Procedimientos_2017_v1.csv",encoding='ISO-8859-1')
procedimientos.iloc[:,12]=procedimientos.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos=procedimientos[procedimientos['SECTOR']=='GOBIERNO REGIONAL']

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3014197093.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos=pd.read_csv("Datasets\Procedimientos\ConsultaG_Procedimientos_2017_v1.csv",encoding='ISO-8859-1')
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3014197093.py:1: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  procedimientos=pd.read_csv("Datasets\Procedimientos\ConsultaG_Procedimientos_2017_v1.csv",encoding='ISO-8859-1')

In [8]:
procedimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,ID_PROCEDIMIENTO,PROCEDIMIENTO,TOTAL,ID_CODIGO,DES_DESCRIPCION
263,2017,6,140102,LAMBAYEQUE,CHICLAYO,CHONGOYAPE,GOBIERNO REGIONAL,I-3,4325,VICTOR ENRIQUE TIRADO BONILLA-CHONGOYAPE,99344,Consulta a domicilio para la evaluaci√≥n y mane...,45.0,260900,ESTRAT.SANIT. NAC.-SALUD MENTAL Y CULTURA DE PAZ
264,2017,6,140102,LAMBAYEQUE,CHICLAYO,CHONGOYAPE,GOBIERNO REGIONAL,I-3,4325,VICTOR ENRIQUE TIRADO BONILLA-CHONGOYAPE,99344,Consulta a domicilio para la evaluaci√≥n y mane...,29.0,227000,CONSULTA EXTERNA-FAMILIAR/COMUNITARIA/INTEGRAL
265,2017,6,140102,LAMBAYEQUE,CHICLAYO,CHONGOYAPE,GOBIERNO REGIONAL,I-3,4325,VICTOR ENRIQUE TIRADO BONILLA-CHONGOYAPE,99344,Consulta a domicilio para la evaluaci√≥n y mane...,44.0,221600,CONSULTA EXTERNA-OBSTETRICIA / ATENCI√ìN DE LA ...
266,2017,6,140102,LAMBAYEQUE,CHICLAYO,CHONGOYAPE,GOBIERNO REGIONAL,I-3,4325,VICTOR ENRIQUE TIRADO BONILLA-CHONGOYAPE,99344,Consulta a domicilio para la evaluaci√≥n y mane...,29.0,221601,CONSULTA EXTERNA-OBSTETRICIA / ATENCI√ìN DE LA ...
267,2017,6,140102,LAMBAYEQUE,CHICLAYO,CHONGOYAPE,GOBIERNO REGIONAL,I-3,4325,VICTOR ENRIQUE TIRADO BONILLA-CHONGOYAPE,99344,Consulta a domicilio para la evaluaci√≥n y mane...,0.0,260500,ESTRAT.SANIT. NAC.-PREVENCI√ìN Y CONTROL DE DA√ë...

In [9]:
procedimientos=procedimientos.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

## Complicaciones

In [10]:
complicaciones=pd.read_csv("Datasets\\Complcaciones\\ConsultaF_Consolidado_Eventos_2017_v1.csv",encoding='ISO-8859-1')
complicaciones.replace('NE_0002', np.nan, inplace=True)
complicaciones.replace('NE_0001', np.nan, inplace=True)
complicaciones.fillna(0,inplace=True)
complicaciones=complicaciones[complicaciones['SECTOR']=='GOBIERNO REGIONAL']

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\978433051.py:1: SyntaxWarning: invalid escape sequence '\C'
  complicaciones=pd.read_csv("Datasets\Complcaciones\ConsultaF_Consolidado_Eventos_2017_v1.csv",encoding='ISO-8859-1')

In [11]:
complicaciones.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,EVENTOS,CANT_EVENTOS
38,2017,1,40101,AREQUIPA,AREQUIPA,AREQUIPA,GOBIERNO REGIONAL,III-1,1231,HOSPITAL REGIONAL HONORIO DELGADO ESPINOZA,Nacidos vivos con edad gestacional menor a 37 ...,23
39,2017,2,40101,AREQUIPA,AREQUIPA,AREQUIPA,GOBIERNO REGIONAL,III-1,1231,HOSPITAL REGIONAL HONORIO DELGADO ESPINOZA,Numero de Casos Nuevos de Infeccion Intrahosp...,2
40,2017,2,40101,AREQUIPA,AREQUIPA,AREQUIPA,GOBIERNO REGIONAL,III-1,1231,HOSPITAL REGIONAL HONORIO DELGADO ESPINOZA,Numero de Casos Nuevos de Infeccion Intrahosp...,1
41,2017,2,40101,AREQUIPA,AREQUIPA,AREQUIPA,GOBIERNO REGIONAL,III-1,1231,HOSPITAL REGIONAL HONORIO DELGADO ESPINOZA,Numero de Casos Nuevos de Infeccion Intrahosp...,1
42,2017,2,40101,AREQUIPA,AREQUIPA,AREQUIPA,GOBIERNO REGIONAL,III-1,1231,HOSPITAL REGIONAL HONORIO DELGADO ESPINOZA,Numero de Casos Nuevos de Infeccion Intrahosp...,2

In [12]:
complicaciones.iloc[:,-1]=complicaciones.iloc[:,-1].apply(pd.to_numeric)

In [13]:
complicaciones=complicaciones[complicaciones['EVENTOS']!=0]

In [14]:
complicaciones = pd.pivot_table(complicaciones, values='CANT_EVENTOS', index=['ANHO', 'MES', 'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SECTOR', 'CATEGORIA', 'CO_IPRESS', 'RAZON_SOC'], columns='EVENTOS', aggfunc='sum', fill_value=0)
complicaciones.reset_index(inplace=True)
complicaciones.head()

EVENTOS,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,2017,1,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,GOBIERNO REGIONAL,II-2,4838,HOSPITAL REGIONAL VIRGEN DE FATIMA,...,0,0,0,0,18,0,2,0,0,0
1,2017,1,10201,AMAZONAS,BAGUA,BAGUA,GOBIERNO REGIONAL,II-1,5044,HOSPITAL DE APOYO GUSTAVO LANATTA LUJAN,...,0,0,0,0,124,1,0,15,16,13
2,2017,1,10306,AMAZONAS,BONGARA,FLORIDA,GOBIERNO REGIONAL,I-4,4932,POMACOCHAS,...,0,0,0,0,312,0,0,0,0,0
3,2017,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,II-1,5145,SANTA MARIA DE NIEVA,...,0,0,0,0,0,0,0,0,0,0
4,2017,1,10701,AMAZONAS,UTCUBAMBA,BAGUA GRANDE,GOBIERNO REGIONAL,II-1,5125,HOSPITAL SANTIAGO APOSTOL DE UTCUBAMBA,...,0,0,0,0,211,0,2,28,12,22

In [15]:
colums_to_sum=complicaciones.columns[-21:]

In [16]:
complicaciones=complicaciones.groupby(['CO_IPRESS','MES','ANHO'])[colums_to_sum].sum().reset_index()
complicaciones.head()

EVENTOS,CO_IPRESS,MES,ANHO,Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis,Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.,Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).,Casos Nuevos de TBC pulmonar en el personal del EESS,Casos nuevos de infeccion HIV.,Fallecimientos en todos los servicios.,Nacidos vivos con bajo peso al nacer (< 2500 grs),...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,1,1,2017,0,0,0,0,2,18,10,...,0,0,0,0,225,0,11,341,0,0
1,1,2,2017,0,0,0,0,7,19,11,...,0,1,0,4,267,0,6,256,0,0
2,1,3,2017,0,0,0,0,5,5,3,...,0,1,0,8,307,0,4,206,0,0
3,1,4,2017,0,0,0,0,4,10,3,...,0,0,0,0,334,0,4,206,0,0
4,1,5,2017,0,0,0,0,0,12,1,...,0,0,0,0,353,0,4,260,0,0

## Nacimientos

In [30]:
nacimientos=pd.read_csv("Datasets\\Nacimientos\ConsultaE_Consolidado_Partos_2017_v1_0.csv",encoding='ISO-8859-1')
nacimientos.replace('NE_0002', np.nan, inplace=True)
nacimientos.replace('NE_0001', np.nan, inplace=True)
nacimientos.fillna(0,inplace=True)
nacimientos=nacimientos[nacimientos['SECTOR']=='GOBIERNO REGIONAL']

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\1218492889.py:1: SyntaxWarning: invalid escape sequence '\C'
  nacimientos=pd.read_csv("Datasets\\Nacimientos\ConsultaE_Consolidado_Partos_2017_v1_0.csv",encoding='ISO-8859-1')

In [31]:
nacimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,ID_PARTO,TIPO_PARTO,PARTOS_TOTAL,PARTOS_VIVOS,PARTOS_MUERTOS
0,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,02,CESAREA,0,0,0
1,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,02,CESAREA,0,0,0
2,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,01,VAGINAL,0,0,0
3,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,01,VAGINAL,11,11,0
4,2017,9,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,02,CESAREA,0,0,0

In [32]:
nacimientos.iloc[:,-3:]=nacimientos.iloc[:,-3:].apply(pd.to_numeric)

In [33]:
nacimientos['Partos_CESAREA'] = 0
nacimientos['Partos_vivos_CESAREA'] = 0
nacimientos['Partos_muertos_CESAREA'] = 0
nacimientos['Partos_VAGINAL'] = 0
nacimientos['Partos_vivos_VAGINAL'] = 0
nacimientos['Partos_muertos_VAGINAL'] = 0

cesarea_condition = nacimientos['TIPO_PARTO'] == 'CESAREA'
vaginal_condition = nacimientos['TIPO_PARTO'] == 'VAGINAL'

nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']

nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']

nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

nacimientos.drop(['PARTOS_TOTAL','PARTOS_VIVOS','PARTOS_MUERTOS','ID_PARTO','TIPO_PARTO'],axis=1,inplace=True)

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 85 99 77]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 11 0 ... 93 12 87]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 85 99 79]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 1 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 11 0 ... 93 12 85]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 0 0 2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

In [34]:
nacimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,Partos_CESAREA,Partos_vivos_CESAREA,Partos_muertos_CESAREA,Partos_VAGINAL,Partos_vivos_VAGINAL,Partos_muertos_VAGINAL
0,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0,0
1,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0,0
2,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0,0
3,2017,7,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,11,11,0
4,2017,9,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,0,0,0,0,0,0

In [35]:
nacimientos=nacimientos.groupby(['CO_IPRESS','MES','ANHO'])[['Partos_CESAREA','Partos_VAGINAL','Partos_vivos_CESAREA','Partos_vivos_VAGINAL','Partos_muertos_CESAREA','Partos_muertos_VAGINAL']].sum()
nacimientos=nacimientos.reset_index()

In [36]:
nacimientos.head()

,CO_IPRESS,MES,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL
0,1,1,2017,99,241,94,240,6,0
1,1,2,2017,65,191,75,196,0,0
2,1,3,2017,73,190,74,196,0,0
3,1,4,2017,90,180,88,181,2,0
4,1,5,2017,101,192,100,192,1,0

## HospxEsp

In [37]:
espe=pd.read_csv("Datasets\\Espe\\ConsultaD1_Hospitalizaciones_Especialidad_2017_v1.csv",encoding='ISO-8859-1')
espe.replace('NE_0002', np.nan, inplace=True)
espe.replace('NE_0001', np.nan, inplace=True)
espe.fillna(0,inplace=True)
espe=espe[espe['SECTOR']=='GOBIERNO REGIONAL']

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3127336637.py:1: SyntaxWarning: invalid escape sequence '\E'
  espe=pd.read_csv("Datasets\Espe\ConsultaD1_Hospitalizaciones_Especialidad_2017_v1.csv",encoding='ISO-8859-1')
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3127336637.py:1: DtypeWarning: Columns (10,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  espe=pd.read_csv("Datasets\Espe\ConsultaD1_Hospitalizaciones_Especialidad_2017_v1.csv",encoding='ISO-8859-1')

In [38]:
espe.iloc[:,-7:]=espe.iloc[:,-7:].apply(pd.to_numeric)
espe=espe.groupby(['CO_IPRESS','MES','ANHO'])[['NRO_TOTAL_HOSPIT_ING','NRO_TOTAL_HOSPIT_EGR','NRO_TOTAL_ESTANCIAS','NRO_TOTAL_PACIENTES_CAMAS','NRO_TOTAL_CAMAS','NRO_TOTAL_CAMAS_DISPONIB','NRO_TOTAL_FALLECIDOS']].sum()
espe=espe.reset_index()
espe.head()

,CO_IPRESS,MES,ANHO,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,NRO_TOTAL_ESTANCIAS,NRO_TOTAL_PACIENTES_CAMAS,NRO_TOTAL_CAMAS,NRO_TOTAL_CAMAS_DISPONIB,NRO_TOTAL_FALLECIDOS
0,1,1,2017,736,801,2762,3277,120,3720,18
1,1,2,2017,555,632,2179,2181,120,3360,8
2,1,3,2017,542,614,1994,1859,120,3720,5
3,1,4,2017,580,661,2274,1995,120,3600,10
4,1,5,2017,651,718,2507,1995,120,3720,12

## Recursos

In [39]:
recursos=pd.read_csv("Datasets\\Recursos\\ConsultaA_Recurso_Salud_2017_v1.csv",encoding='ISO-8859-1')
recursos.replace('NE_0002', np.nan, inplace=True)
recursos.replace('NE_0001', np.nan, inplace=True)
recursos.fillna(0,inplace=True)
recursos=recursos[recursos['SECTOR']=='GOBIERNO REGIONAL']

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\1782677385.py:1: SyntaxWarning: invalid escape sequence '\R'
  recursos=pd.read_csv("Datasets\Recursos\ConsultaA_Recurso_Salud_2017_v1.csv",encoding='ISO-8859-1')

In [40]:
recursos.iloc[:,10:26]=recursos.iloc[:,10:26].apply(pd.to_numeric)
recursos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,2017,12,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,...,10,3,3,1,1,11,1,7,31,1
1,2017,9,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,...,9,3,3,2,1,10,1,2,2,1
2,2017,11,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,...,10,3,3,1,1,11,1,7,31,1
3,2017,10,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,...,10,3,3,1,1,11,1,7,31,1
4,2017,8,70102,CALLAO,CALLAO,BELLAVISTA,GOBIERNO REGIONAL,I-4,6249,C.S. BELLAVISTA PERU COREA,...,9,3,3,2,1,10,1,2,2,1

In [41]:
columns_to_sum = recursos.columns[10:26]
recursos = recursos.groupby(['CO_IPRESS', 'MES','ANHO'])[columns_to_sum].sum()
recursos = recursos.reset_index()
recursos

,CO_IPRESS,MES,ANHO,CA_CONSULTORIOS,CA_CONSULTORIOS_FN,CA_CAMAS,CA_MEDICOS_TOTAL,CA_MEDICOS_SERUM,CA_MEDICOS_RESIDENTES,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,1,1,2017,31,42,120,61,0,17,92,4,2,3,1,38,7,252,3,1
1,1,2,2017,31,42,120,60,0,17,88,4,2,3,1,37,7,252,5,1
2,1,3,2017,31,42,120,60,0,17,88,4,2,3,1,37,7,252,5,1
3,1,4,2017,31,42,120,58,0,18,88,4,2,3,1,33,6,252,5,1
4,1,5,2017,31,42,120,58,0,18,88,4,2,3,1,33,6,252,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381,20823,9,2017,9,0,0,1,0,0,1,0,6,0,0,1,0,0,0,0
4382,20823,10,2017,9,0,0,1,0,0,1,0,6,0,0,1,0,0,0,0
4383,20823,11,2017,9,0,0,1,0,0,1,0,6,0,0,1,0,0,0,0
4384,20823,12,2017,9,0,0,1,0,0,1,0,5,0,0,1,0,0,0,0
4385,23014,12,2017,14,26,0,2,1,0,9,4,3,1,0,6,0,9,0,0

## base final

In [42]:
print(recursos.shape)
print(nacimientos.shape)

(4386, 19)
(4363, 9)

In [43]:
df17 = pd.merge(recursos, nacimientos, on=['CO_IPRESS', 'MES', 'ANHO'], how='outer')
df17 = pd.merge(df17, cirugias, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df17 = pd.merge(df17, espe, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df17 = pd.merge(df17, procedimientos, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df17 = pd.merge(df17, complicaciones, on=['CO_IPRESS', 'MES','ANHO'], how='outer')

In [44]:
df17.shape

(30915, 54)

# 2018

## Cirugias

In [45]:
cirugias=pd.read_csv('Datasets\Cirugias\\ConsultaH_Intervenciones_Quirurgicas_2018_v1.csv',encoding='ISO-8859-1')
cirugias.replace('NE_0002', np.nan, inplace=True)
cirugias.replace('NE_0001', np.nan, inplace=True)
cirugias.fillna(0,inplace=True)

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3506196538.py:1: SyntaxWarning: invalid escape sequence '\C'
  cirugias=pd.read_csv('Datasets\Cirugias\ConsultaH_Intervenciones_Quirurgicas_2018_v1.csv',encoding='ISO-8859-1')

In [46]:
cirugias=cirugias[cirugias['SECTOR']=='GOBIERNO REGIONAL']
cirugias.iloc[:,10:]=cirugias.iloc[:,10:].apply(pd.to_numeric,errors='coerce')

In [47]:
cirugias_to_sum = cirugias.columns[10:]
cirugias=cirugias.groupby(['CO_IPRESS','ANHO','MES'])[cirugias_to_sum].sum().reset_index()
cirugias.head()

,CO_IPRESS,ANHO,MES,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
0,1,2018,1,3,148,18,238,256.0,0,4
1,1,2018,2,3,187,15,240,262.0,0,3
2,1,2018,3,3,189,17,241,265.0,0,3
3,1,2018,4,3,209,26,600,309.0,0,6
4,1,2018,5,3,192,35,600,288.0,0,5

## Procedimientos

In [48]:
procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2018_II_v1.csv",encoding='ISO-8859-1')
procedimientos1.iloc[:,12]=procedimientos1.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos1=procedimientos1[procedimientos1['SECTOR']=='GOBIERNO REGIONAL']
procedimientos1=procedimientos1.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3654125503.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos1=pd.read_csv("Datasets\Procedimientos\ConsultaG_Procedimientos_2018_II_v1.csv",encoding='ISO-8859-1')

In [49]:
procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2018_I_v1.csv",encoding='ISO-8859-1')
procedimientos2.iloc[:,12]=procedimientos2.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos2=procedimientos2[procedimientos2['SECTOR']=='GOBIERNO REGIONAL']
procedimientos2=procedimientos2.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\763673097.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos2=pd.read_csv("Datasets\Procedimientos\ConsultaG_Procedimientos_2018_I_v1.csv",encoding='ISO-8859-1')

In [50]:
procedimientos=pd.concat([procedimientos1,procedimientos2])
procedimientos.head()

   CO_IPRESS  MES  ANHO    TOTAL
0          1    7  2018   4716.0
1          1    8  2018  12261.0
2          1    9  2018   5446.0
3          1   10  2018  12159.0
4          1   11  2018   5888.0

In [51]:
procedimientos.shape

(17945, 4)

## Complicaciones

In [52]:
complicaciones=pd.read_csv("Datasets\\Complcaciones\\ConsultaF_Consolidado_Eventos_2018_v1.csv",encoding='ISO-8859-1')
complicaciones.replace('NE_0002', np.nan, inplace=True)
complicaciones.replace('NE_0001', np.nan, inplace=True)
complicaciones.fillna(0,inplace=True)
complicaciones=complicaciones[complicaciones['SECTOR']=='GOBIERNO REGIONAL']

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3542249153.py:1: SyntaxWarning: invalid escape sequence '\C'
  complicaciones=pd.read_csv("Datasets\Complcaciones\ConsultaF_Consolidado_Eventos_2018_v1.csv",encoding='ISO-8859-1')

In [53]:
complicaciones.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,EVENTOS,CANT_EVENTOS
16,2018,10,90201,HUANCAVELICA,ACOBAMBA,ACOBAMBA,GOBIERNO REGIONAL,I-1,3918,CURIMARAY,Numero de Controles Prenatales realizados.,1
17,2018,10,90201,HUANCAVELICA,ACOBAMBA,ACOBAMBA,GOBIERNO REGIONAL,I-1,3918,CURIMARAY,Numero de Controles Prenatales realizados.,1
18,2018,10,90201,HUANCAVELICA,ACOBAMBA,ACOBAMBA,GOBIERNO REGIONAL,I-1,3918,CURIMARAY,Numero de Controles Prenatales realizados.,3
19,2018,10,90201,HUANCAVELICA,ACOBAMBA,ACOBAMBA,GOBIERNO REGIONAL,I-1,3918,CURIMARAY,Numero de Controles Prenatales realizados.,1
20,2018,10,90207,HUANCAVELICA,ACOBAMBA,POMACOCHA,GOBIERNO REGIONAL,I-1,9698,INCAPACCHAN,Numero de Controles Prenatales realizados.,1

In [54]:
complicaciones.iloc[:,-1]=complicaciones.iloc[:,-1].apply(pd.to_numeric)
complicaciones=complicaciones[complicaciones['EVENTOS']!=0]

In [55]:
complicaciones = pd.pivot_table(complicaciones, values='CANT_EVENTOS', index=['ANHO', 'MES', 'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SECTOR', 'CATEGORIA', 'CO_IPRESS', 'RAZON_SOC'], columns='EVENTOS', aggfunc='sum', fill_value=0)
complicaciones.reset_index(inplace=True)
complicaciones.head()

EVENTOS,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,2018,1,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,GOBIERNO REGIONAL,II-2,4838,HOSPITAL REGIONAL VIRGEN DE FATIMA,...,0,0,0,0,126,0,1,0,5,17
1,2018,1,10201,AMAZONAS,BAGUA,BAGUA,GOBIERNO REGIONAL,II-1,5044,HOSPITAL DE APOYO GUSTAVO LANATTA LUJAN,...,0,0,0,0,143,0,0,17,12,17
2,2018,1,10306,AMAZONAS,BONGARA,FLORIDA,GOBIERNO REGIONAL,I-4,4932,POMACOCHAS,...,0,0,0,0,318,0,0,0,0,0
3,2018,1,10307,AMAZONAS,BONGARA,JAZAN,GOBIERNO REGIONAL,I-4,4922,PEDRO RUIZ GALLO,...,0,0,0,0,414,0,0,0,0,0
4,2018,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,II-1,5145,SANTA MARIA DE NIEVA,...,0,0,0,0,0,0,0,0,0,0

In [56]:
colums_to_sum=complicaciones.columns[-21:]

In [57]:
complicaciones.groupby(['CO_IPRESS','MES','ANHO'])[colums_to_sum].sum().reset_index()
complicaciones.head()

EVENTOS,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,2018,1,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,GOBIERNO REGIONAL,II-2,4838,HOSPITAL REGIONAL VIRGEN DE FATIMA,...,0,0,0,0,126,0,1,0,5,17
1,2018,1,10201,AMAZONAS,BAGUA,BAGUA,GOBIERNO REGIONAL,II-1,5044,HOSPITAL DE APOYO GUSTAVO LANATTA LUJAN,...,0,0,0,0,143,0,0,17,12,17
2,2018,1,10306,AMAZONAS,BONGARA,FLORIDA,GOBIERNO REGIONAL,I-4,4932,POMACOCHAS,...,0,0,0,0,318,0,0,0,0,0
3,2018,1,10307,AMAZONAS,BONGARA,JAZAN,GOBIERNO REGIONAL,I-4,4922,PEDRO RUIZ GALLO,...,0,0,0,0,414,0,0,0,0,0
4,2018,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,II-1,5145,SANTA MARIA DE NIEVA,...,0,0,0,0,0,0,0,0,0,0

## Nacimientos

In [59]:
nacimientos=pd.read_csv("Datasets\\Nacimientos\\ConsultaE_Consolidado_Partos_2018_v1_0.csv",encoding='ISO-8859-1')
nacimientos.replace('NE_0002', np.nan, inplace=True)
nacimientos.replace('NE_0001', np.nan, inplace=True)
nacimientos.fillna(0,inplace=True)
nacimientos=nacimientos[nacimientos['SECTOR']=='GOBIERNO REGIONAL']

In [60]:
nacimientos.iloc[:,-3:]=nacimientos.iloc[:,-3:].apply(pd.to_numeric)

In [61]:
nacimientos['Partos_CESAREA'] = 0
nacimientos['Partos_vivos_CESAREA'] = 0
nacimientos['Partos_muertos_CESAREA'] = 0
nacimientos['Partos_VAGINAL'] = 0
nacimientos['Partos_vivos_VAGINAL'] = 0
nacimientos['Partos_muertos_VAGINAL'] = 0

cesarea_condition = nacimientos['TIPO_PARTO'] == 'CESAREA'
vaginal_condition = nacimientos['TIPO_PARTO'] == 'VAGINAL'

nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']

nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']

nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

nacimientos.drop(['PARTOS_TOTAL','PARTOS_VIVOS','PARTOS_MUERTOS','ID_PARTO','TIPO_PARTO'],axis=1,inplace=True)

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[46 12 112 ... 12 36 45]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[68 15 60 ... 2 10 2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[46 12 114 ... 12 35 44]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 2 ... 0 1 1]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[67 15 60 ... 2 10 2]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 15 0 ... 0 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

In [62]:
nacimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,Partos_CESAREA,Partos_vivos_CESAREA,Partos_muertos_CESAREA,Partos_VAGINAL,Partos_vivos_VAGINAL,Partos_muertos_VAGINAL
0,2018,9,40302,AREQUIPA,CARAVELI,ACARI,GOBIERNO REGIONAL,I-3,1352,CENTRO DE SALUD ACARI,0,0,0,0,0,0
1,2018,10,150601,LIMA,HUARAL,HUARAL,GOBIERNO REGIONAL,II-2,7637,HOSPITAL SAN JUAN BAUTISTA HUARAL,0,0,0,68,67,1
2,2018,10,150601,LIMA,HUARAL,HUARAL,GOBIERNO REGIONAL,II-2,7637,HOSPITAL SAN JUAN BAUTISTA HUARAL,0,0,0,15,15,15
3,2018,10,150601,LIMA,HUARAL,HUARAL,GOBIERNO REGIONAL,II-2,7637,HOSPITAL SAN JUAN BAUTISTA HUARAL,46,46,0,0,0,0
6,2018,10,20902,ANCASH,CORONGO,ACO,GOBIERNO REGIONAL,I-1,1626,PUESTO DE SALUD ACO,0,0,0,0,0,0

In [63]:
nacimientos=nacimientos.groupby(['CO_IPRESS','MES','ANHO'])[['Partos_CESAREA','Partos_VAGINAL','Partos_vivos_CESAREA','Partos_vivos_VAGINAL','Partos_muertos_CESAREA','Partos_muertos_VAGINAL']].sum()
nacimientos=nacimientos.reset_index()

In [64]:
nacimientos.head()

,CO_IPRESS,MES,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL
0,1,1,2018,75,196,74,196,1,0
1,1,2,2018,78,181,74,196,1,0
2,1,3,2018,77,182,74,198,1,0
3,1,4,2018,76,188,74,188,2,0
4,1,5,2018,81,200,78,200,3,0

## HospxEsp

In [65]:
espe=pd.read_csv("Datasets\\Espe\\ConsultaD1_Hospitalizaciones_Especialidad_2018_v2.csv",encoding='ISO-8859-1')
espe.replace('NE_0002', np.nan, inplace=True)
espe.replace('NE_0001', np.nan, inplace=True)
espe.fillna(0,inplace=True)
espe=espe[espe['SECTOR']=='GOBIERNO REGIONAL']

In [66]:
espe.iloc[:,-7:]=espe.iloc[:,-7:].apply(pd.to_numeric)
espe=espe.groupby(['CO_IPRESS','MES','ANHO'])[['NRO_TOTAL_HOSPIT_ING','NRO_TOTAL_HOSPIT_EGR','NRO_TOTAL_ESTANCIAS','NRO_TOTAL_PACIENTES_CAMAS','NRO_TOTAL_CAMAS','NRO_TOTAL_CAMAS_DISPONIB','NRO_TOTAL_FALLECIDOS']].sum()
espe=espe.reset_index()
espe.head()

,CO_IPRESS,MES,ANHO,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,NRO_TOTAL_ESTANCIAS,NRO_TOTAL_PACIENTES_CAMAS,NRO_TOTAL_CAMAS,NRO_TOTAL_CAMAS_DISPONIB,NRO_TOTAL_FALLECIDOS
0,1,1,2018,593,652,2249,3036,120,3720,17
1,1,2,2018,561,629,2040,2093,120,3360,7
2,1,3,2018,569,648,2040,2093,120,3360,7
3,1,4,2018,648,718,2417,2504,120,3600,9
4,1,5,2018,640,725,2550,2413,120,3720,6

## Recursos

In [67]:
recursos=pd.read_csv("Datasets\\Recursos\\ConsultaA_Recurso_Salud_2018_v2.csv",encoding='ISO-8859-1')
recursos.replace('NE_0002', np.nan, inplace=True)
recursos.replace('NE_0001', np.nan, inplace=True)
recursos.fillna(0,inplace=True)
recursos=recursos[recursos['SECTOR']=='GOBIERNO REGIONAL']

In [68]:
recursos.iloc[:,10:26]=recursos.iloc[:,10:26].apply(pd.to_numeric)
columns_to_sum = recursos.columns[10:26]
recursos = recursos.groupby(['CO_IPRESS', 'MES','ANHO'])[columns_to_sum].sum()
recursos = recursos.reset_index()
recursos

,CO_IPRESS,MES,ANHO,CA_CONSULTORIOS,CA_CONSULTORIOS_FN,CA_CAMAS,CA_MEDICOS_TOTAL,CA_MEDICOS_SERUM,CA_MEDICOS_RESIDENTES,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,1,1,2018,28,42,120,54,0,8,74,5,2,3,2,28,4,51,18,2
1,1,2,2018,28,42,120,56,0,8,85,5,2,3,2,28,4,204,18,2
2,1,3,2018,28,42,120,54,0,8,88,5,5,3,2,29,5,197,18,2
3,1,4,2018,17,21,120,57,0,15,88,5,5,3,1,29,5,252,9,1
4,1,5,2018,17,21,120,57,0,15,88,5,5,3,1,29,5,252,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22208,25210,12,2018,18,32,21,11,0,0,10,3,0,0,1,9,1,18,3,1
22209,25389,7,2018,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22210,25389,8,2018,6,6,0,3,0,0,4,0,3,0,2,0,0,3,2,0
22211,25389,9,2018,6,6,0,3,0,0,4,0,3,0,2,0,0,3,2,0
22212,25389,10,2018,6,6,0,3,0,0,4,0,3,0,2,0,0,3,2,0

## base final

In [69]:
print(recursos.shape)
print(nacimientos.shape)

(22213, 19)
(20730, 9)

In [70]:
df18 = pd.merge(recursos, nacimientos, on=['CO_IPRESS', 'MES', 'ANHO'], how='outer')
df18 = pd.merge(df18, cirugias, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df18 = pd.merge(df18, espe, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df18 = pd.merge(df18, procedimientos, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df18 = pd.merge(df18, complicaciones, on=['CO_IPRESS', 'MES','ANHO'], how='outer')

In [71]:
df18.shape

(24076, 68)

# 2019

## Cirugias

In [72]:
cirugias=pd.read_csv('Datasets\Cirugias\\ConsultaH_Intervenciones_Quirurgicas_2019_v5.csv',encoding='ISO-8859-1')
cirugias.replace('NE_0002', np.nan, inplace=True)
cirugias.replace('NE_0001', np.nan, inplace=True)
cirugias.fillna(0,inplace=True)
cirugias=cirugias[cirugias['SECTOR']=='GOBIERNO REGIONAL']
cirugias.iloc[:,10:]=cirugias.iloc[:,10:].apply(pd.to_numeric,errors='coerce')
cirugias.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3072906701.py:1: SyntaxWarning: invalid escape sequence '\C'
  cirugias=pd.read_csv('Datasets\Cirugias\\ConsultaH_Intervenciones_Quirurgicas_2019_v5.csv',encoding='ISO-8859-1')

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
4,2019,8,60701,CAJAMARCA,HUALGAYOC,BAMBAMARCA,GOBIERNO REGIONAL,I-3,6815,VIRGEN DEL CARMEN,0,0,0,0,0,0,0.0
5,2019,8,60701,CAJAMARCA,HUALGAYOC,BAMBAMARCA,GOBIERNO REGIONAL,I-1,9863,CUMBE CHONTABAMBA,0,0,0,0,0,0,0.0
6,2019,8,60701,CAJAMARCA,HUALGAYOC,BAMBAMARCA,GOBIERNO REGIONAL,I-2,4785,APAN BAJO,0,0,0,0,0,0,0.0
7,2019,8,60701,CAJAMARCA,HUALGAYOC,BAMBAMARCA,GOBIERNO REGIONAL,I-1,4792,MARCO LAGUNA,0,0,0,0,0,0,0.0
8,2019,8,60701,CAJAMARCA,HUALGAYOC,BAMBAMARCA,GOBIERNO REGIONAL,I-2,4788,HUANGAMARCA,0,0,0,0,0,0,0.0

In [73]:
cirugias_to_sum = cirugias.columns[10:]
cirugias=cirugias.groupby(['CO_IPRESS','ANHO','MES'])[cirugias_to_sum].sum().reset_index()
cirugias.head()

,CO_IPRESS,ANHO,MES,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
0,1,2019,1,3,202,21,243,312,192,0.0
1,1,2019,2,3,223,2,245,316,196,0.0
2,1,2019,3,3,235,40,250,328,201,0.0
3,1,2019,4,3,215,43,244,308,195,0.0
4,1,2019,5,3,219,48,246,318,202,0.0

## Procedimientos

In [74]:
procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2019_I_v1.csv",encoding='ISO-8859-1')
procedimientos1.iloc[:,12]=procedimientos1.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos1=procedimientos1[procedimientos1['SECTOR']=='GOBIERNO REGIONAL']
procedimientos1=procedimientos1.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3201818898.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2019_I_v1.csv",encoding='ISO-8859-1')

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3201818898.py:1: DtypeWarning: Columns (16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2019_I_v1.csv",encoding='ISO-8859-1')

In [75]:
procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2019_II_v1.csv",encoding='ISO-8859-1')
procedimientos2.iloc[:,12]=procedimientos2.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos2=procedimientos2[procedimientos2['SECTOR']=='GOBIERNO REGIONAL']
procedimientos2=procedimientos2.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\737584471.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2019_II_v1.csv",encoding='ISO-8859-1')
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\737584471.py:1: DtypeWarning: Columns (16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2019_II_v1.csv",encoding='ISO-8859-1')

In [76]:
procedimientos=pd.concat([procedimientos1,procedimientos2])
procedimientos.head()

   CO_IPRESS  MES  ANHO   TOTAL
0          1    1  2019  7387.0
1          1    2  2019  7390.0
2          1    3  2019  7623.0
3          1    4  2019  7736.0
4          1    5  2019  7792.0

In [77]:
procedimientos.shape

(22456, 4)

## Complicaciones

In [78]:
complicaciones=pd.read_csv("Datasets\\Complcaciones\\ConsultaF_Consolidado_Eventos_2019_v4.csv",encoding='ISO-8859-1')
complicaciones.replace('NE_0002', np.nan, inplace=True)
complicaciones.replace('NE_0001', np.nan, inplace=True)
complicaciones.fillna(0,inplace=True)
complicaciones=complicaciones[complicaciones['SECTOR']=='GOBIERNO REGIONAL']
complicaciones.iloc[:,-1]=complicaciones.iloc[:,-1].apply(pd.to_numeric)
complicaciones=complicaciones[complicaciones['EVENTOS']!=0]
complicaciones.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,EVENTOS,CANT_EVENTOS
0,2019,2,80701,CUSCO,CHUMBIVILCAS,SANTO TOMAS,GOBIERNO REGIONAL,II-1,2398,SANTO TOMAS,Nacidos vivos con bajo peso al nacer (< 2500 grs),2
1,2019,2,80701,CUSCO,CHUMBIVILCAS,SANTO TOMAS,GOBIERNO REGIONAL,II-1,2398,SANTO TOMAS,Ni√±os de 37 meses que completaron esquema naci...,3
2,2019,2,80701,CUSCO,CHUMBIVILCAS,SANTO TOMAS,GOBIERNO REGIONAL,II-1,2398,SANTO TOMAS,Ni√±os de 37 meses que completaron por lo meno...,2
3,2019,2,80701,CUSCO,CHUMBIVILCAS,SANTO TOMAS,GOBIERNO REGIONAL,II-1,2398,SANTO TOMAS,Nacidos vivos con edad gestacional menor a 37 ...,2
4,2019,2,80701,CUSCO,CHUMBIVILCAS,SANTO TOMAS,GOBIERNO REGIONAL,II-1,2398,SANTO TOMAS,Numero de Controles Prenatales realizados.,10

In [79]:
complicaciones = pd.pivot_table(complicaciones, values='CANT_EVENTOS', index=['ANHO', 'MES', 'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SECTOR', 'CATEGORIA', 'CO_IPRESS', 'RAZON_SOC'], columns='EVENTOS', aggfunc='sum', fill_value=0)
complicaciones.reset_index(inplace=True)
complicaciones.head()

EVENTOS,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,2019,1,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,GOBIERNO REGIONAL,II-2,4838,HOSPITAL REGIONAL VIRGEN DE FATIMA,...,0,0,0,0,43,0,2,0,5,13
1,2019,1,10201,AMAZONAS,BAGUA,BAGUA,GOBIERNO REGIONAL,II-1,5044,HOSPITAL DE APOYO GUSTAVO LANATTA LUJAN,...,0,0,0,0,137,0,0,15,0,63
2,2019,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,I-1,5146,IPAKUMA,...,0,0,0,0,270,0,0,0,0,0
3,2019,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,I-1,5150,NAPURUKA,...,0,0,0,0,162,0,0,0,0,0
4,2019,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,I-1,5152,CACHIACCO,...,0,0,0,0,90,0,0,0,0,0

In [80]:
colums_to_sum=complicaciones.columns[-21:]
complicaciones=complicaciones.groupby(['CO_IPRESS','MES','ANHO'])[colums_to_sum].sum().reset_index()
complicaciones.head()

EVENTOS,CO_IPRESS,MES,ANHO,Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis,Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.,Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).,Casos Nuevos de TBC pulmonar en el personal del EESS,Casos nuevos de infeccion HIV.,Fallecimientos en todos los servicios.,Nacidos vivos con bajo peso al nacer (< 2500 grs),...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,1,1,2019,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2019,0,0,0,0,0,5,0,...,0,0,0,0,0,0,0,234,0,0
2,1,3,2019,0,0,0,0,0,7,0,...,0,0,0,0,0,0,0,260,0,0
3,1,4,2019,0,0,0,0,0,17,0,...,0,0,0,0,0,0,0,312,0,0
4,1,5,2019,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,338,0,0

## Nacimientos

In [81]:
nacimientos=pd.read_csv("Datasets\\Nacimientos\\ConsultaE_Consolidado_Partos_2019_v4_0.csv",encoding='ISO-8859-1')
nacimientos.replace('NE_0002', np.nan, inplace=True)
nacimientos.replace('NE_0001', np.nan, inplace=True)
nacimientos.fillna(0,inplace=True)
nacimientos=nacimientos[nacimientos['SECTOR']=='GOBIERNO REGIONAL']

In [82]:
nacimientos.iloc[:,-3:]=nacimientos.iloc[:,-3:].apply(pd.to_numeric)

In [83]:
nacimientos['Partos_CESAREA'] = 0
nacimientos['Partos_vivos_CESAREA'] = 0
nacimientos['Partos_muertos_CESAREA'] = 0
nacimientos['Partos_VAGINAL'] = 0
nacimientos['Partos_vivos_VAGINAL'] = 0
nacimientos['Partos_muertos_VAGINAL'] = 0

cesarea_condition = nacimientos['TIPO_PARTO'] == 'CESAREA'
vaginal_condition = nacimientos['TIPO_PARTO'] == 'VAGINAL'

nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']

nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']

nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

nacimientos.drop(['PARTOS_TOTAL','PARTOS_VIVOS','PARTOS_MUERTOS','ID_PARTO','TIPO_PARTO'],axis=1,inplace=True)

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 15 32 131]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 4 1 ... 70 114 91]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 13 33 131]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 2 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 4 1 ... 68 114 90]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 2 0 1]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

In [84]:
nacimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,Partos_CESAREA,Partos_vivos_CESAREA,Partos_muertos_CESAREA,Partos_VAGINAL,Partos_vivos_VAGINAL,Partos_muertos_VAGINAL
0,2019,8,60801,CAJAMARCA,JAEN,JAEN,GOBIERNO REGIONAL,I-2,4216,LA CASCARILLA,0,0,0,0,0,0
1,2019,8,60801,CAJAMARCA,JAEN,JAEN,GOBIERNO REGIONAL,I-1,24719,LA VIRGINIA,0,0,0,0,0,0
2,2019,8,60801,CAJAMARCA,JAEN,JAEN,GOBIERNO REGIONAL,I-1,4222,ALTO VISTA ALEGRE,0,0,0,0,0,0
3,2019,8,60801,CAJAMARCA,JAEN,JAEN,GOBIERNO REGIONAL,I-1,6994,LOMA SANTA,0,0,0,0,0,0
4,2019,8,60801,CAJAMARCA,JAEN,JAEN,GOBIERNO REGIONAL,I-3,25526,LOS SAUCES,0,0,0,1,1,0

In [85]:
nacimientos=nacimientos.groupby(['CO_IPRESS','MES','ANHO'])[['Partos_CESAREA','Partos_VAGINAL','Partos_vivos_CESAREA','Partos_vivos_VAGINAL','Partos_muertos_CESAREA','Partos_muertos_VAGINAL']].sum()
nacimientos=nacimientos.reset_index()
nacimientos.head()

,CO_IPRESS,MES,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL
0,1,1,2019,89,176,87,176,2,0
1,1,2,2019,87,205,85,205,2,0
2,1,3,2019,75,208,84,204,3,0
3,1,4,2019,88,224,84,224,4,0
4,1,5,2019,76,199,71,199,5,0

## HospxEsp

In [86]:
espe=pd.read_csv("Datasets\\Espe\\ConsultaD1_Hospitalizaciones_Especialidad_2019_v7.csv",encoding='ISO-8859-1')
espe.replace('NE_0002', np.nan, inplace=True)
espe.replace('NE_0001', np.nan, inplace=True)
espe.fillna(0,inplace=True)
espe=espe[espe['SECTOR']=='GOBIERNO REGIONAL']

In [87]:
espe.iloc[:,-7:]=espe.iloc[:,-7:].apply(pd.to_numeric)
espe=espe.groupby(['CO_IPRESS','MES','ANHO'])[['NRO_TOTAL_HOSPIT_ING','NRO_TOTAL_HOSPIT_EGR','NRO_TOTAL_ESTANCIAS','NRO_TOTAL_PACIENTES_CAMAS','NRO_TOTAL_CAMAS','NRO_TOTAL_CAMAS_DISPONIB','NRO_TOTAL_FALLECIDOS']].sum()
espe=espe.reset_index()
espe

,CO_IPRESS,MES,ANHO,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,NRO_TOTAL_ESTANCIAS,NRO_TOTAL_PACIENTES_CAMAS,NRO_TOTAL_CAMAS,NRO_TOTAL_CAMAS_DISPONIB,NRO_TOTAL_FALLECIDOS
0,1,1,2019,584,641,2112,2112,108,3720,13
1,1,2,2019,555,643,2496,2174,102,2856,18
2,1,3,2019,653,735,2413,2212,108,3348,8
3,1,4,2019,631,709,2509,2322,108,3240,17
4,1,5,2019,641,702,2333,2263,108,3348,8
...,...,...,...,...,...,...,...,...,...,...
24871,27144,10,2019,0,0,0,0,0,0,0
24872,27144,11,2019,0,0,0,0,0,0,0
24873,27144,12,2019,0,0,0,0,0,0,0
24874,27157,12,2019,0,0,0,0,0,0,0
24875,27464,12,2019,0,0,0,0,0,0,0

## Recursos

In [88]:
recursos=pd.read_csv("Datasets\\Recursos\\ConsultaA_Recurso_Salud_2019_v7.csv",encoding='ISO-8859-1')
recursos.replace('NE_0002', np.nan, inplace=True)
recursos.replace('NE_0001', np.nan, inplace=True)
recursos.fillna(0,inplace=True)
recursos=recursos[recursos['SECTOR']=='GOBIERNO REGIONAL']

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\849596730.py:1: DtypeWarning: Columns (10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  recursos=pd.read_csv("Datasets\\Recursos\\ConsultaA_Recurso_Salud_2019_v7.csv",encoding='ISO-8859-1')

In [89]:
recursos.iloc[:,10:26]=recursos.iloc[:,10:26].apply(pd.to_numeric)
columns_to_sum = recursos.columns[10:26]
recursos = recursos.groupby(['CO_IPRESS', 'MES','ANHO'])[columns_to_sum].sum()
recursos = recursos.reset_index()
recursos

,CO_IPRESS,MES,ANHO,CA_CONSULTORIOS,CA_CONSULTORIOS_FN,CA_CAMAS,CA_MEDICOS_TOTAL,CA_MEDICOS_SERUM,CA_MEDICOS_RESIDENTES,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,1,1,2019,17.0,21.0,108.0,66.0,0.0,12.0,96.0,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0
1,1,2,2019,17.0,21.0,108.0,66.0,0.0,12.0,96.0,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0
2,1,3,2019,17.0,21.0,108.0,66.0,0.0,12.0,96.0,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0
3,1,4,2019,17.0,21.0,108.0,66.0,0.0,12.0,96.0,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0
4,1,5,2019,17.0,21.0,108.0,66.0,0.0,12.0,96.0,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24797,27144,10,2019,8.0,12.0,0.0,3.0,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0
24798,27144,11,2019,8.0,12.0,0.0,3.0,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0
24799,27144,12,2019,7.0,14.0,0.0,2.0,0.0,0.0,4.0,0.0,3.0,0.0,1.0,0.0,1.0,3.0,0.0,0.0
24800,27157,12,2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24801,27464,12,2019,5.0,10.0,0.0,3.0,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,1.0,3.0,2.0,0.0

## base final

In [90]:
print(recursos.shape)
print(nacimientos.shape)

(24802, 19)
(24364, 9)

In [91]:
df19 = pd.merge(recursos, nacimientos, on=['CO_IPRESS', 'MES', 'ANHO'], how='outer')
df19 = pd.merge(df19, cirugias, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df19 = pd.merge(df19, espe, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df19 = pd.merge(df19, procedimientos, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df19 = pd.merge(df19, complicaciones, on=['CO_IPRESS', 'MES','ANHO'], how='outer')

In [92]:
df19.shape

(29664, 61)

# 2020

## Cirugias

In [93]:
cirugias=pd.read_csv('Datasets\Cirugias\\ConsultaH_Intervenciones_Quir√∫rgicas_2020_v7.csv',encoding='ISO-8859-1')
cirugias.replace('NE_0002', np.nan, inplace=True)
cirugias.replace('NE_0001', np.nan, inplace=True)
cirugias.fillna(0,inplace=True)
cirugias=cirugias[cirugias['SECTOR']=='GOBIERNO REGIONAL']
cirugias.iloc[:,10:]=cirugias.iloc[:,10:].apply(pd.to_numeric,errors='coerce')
cirugias.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3287051921.py:1: SyntaxWarning: invalid escape sequence '\C'
  cirugias=pd.read_csv('Datasets\Cirugias\\ConsultaH_Intervenciones_Quir√∫rgicas_2020_v7.csv',encoding='ISO-8859-1')

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
49,2020,1,131101,LA LIBERTAD,GRAN CHIMU,CASCAS,GOBIERNO REGIONAL,II-1,5277,HOSPITAL PROVINICIAL DE CASCAS,0,0,0,0,0.0,0.0,0
50,2020,1,120906,JUNIN,CHUPACA,SAN JUAN DE YSCOS,GOBIERNO REGIONAL,I-1,658,TINYARI GRANDE,0,0,0,0,0.0,0.0,0
51,2020,1,120905,JUNIN,CHUPACA,HUAMANCACA CHICO,GOBIERNO REGIONAL,I-2,655,HUAMANCACA CHICO,0,0,0,0,0.0,0.0,0
52,2020,1,120608,JUNIN,SATIPO,RIO TAMBO,GOBIERNO REGIONAL,I-2,516,PUERTO ROCA,0,0,0,0,0.0,0.0,0
53,2020,1,120608,JUNIN,SATIPO,RIO TAMBO,GOBIERNO REGIONAL,I-1,518,SAN CARLOS ALTO ENE,0,0,0,0,0.0,0.0,0

In [94]:
cirugias_to_sum = cirugias.columns[10:]
cirugias=cirugias.groupby(['CO_IPRESS','ANHO','MES'])[cirugias_to_sum].sum().reset_index()
cirugias.head()

,CO_IPRESS,ANHO,MES,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
0,1,2020,1,3,221,32,263,349.0,0,4
1,1,2020,2,3,227,30,257,383.0,0,5
2,1,2020,3,3,213,28,245,362.0,0,7
3,1,2020,4,3,207,20,261,296.0,0,6
4,1,2020,5,3,220,23,271,310.0,0,5

## Procedimientos

In [95]:
procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2020_I_v1.csv",encoding='ISO-8859-1')
procedimientos1.iloc[:,12]=procedimientos1.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos1=procedimientos1[procedimientos1['SECTOR']=='GOBIERNO REGIONAL']
procedimientos1=procedimientos1.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\1810352181.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2020_I_v1.csv",encoding='ISO-8859-1')
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\1810352181.py:1: DtypeWarning: Columns (16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2020_I_v1.csv",encoding='ISO-8859-1')

In [96]:
procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2020_II_v6.csv",encoding='ISO-8859-1')
procedimientos2.iloc[:,12]=procedimientos2.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos2=procedimientos2[procedimientos2['SECTOR']=='GOBIERNO REGIONAL']
procedimientos2=procedimientos2.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3396752831.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2020_II_v6.csv",encoding='ISO-8859-1')

In [97]:
procedimientos=pd.concat([procedimientos1,procedimientos2])
procedimientos.head()

   CO_IPRESS  MES  ANHO   TOTAL
0          1    1  2020  8412.0
1          1    2  2020  8366.0
2          1    3  2020  8403.0
3          1    4  2020  8461.0
4          1    5  2020  8552.0

In [98]:
procedimientos.shape

(25872, 4)

## Complicaciones

In [99]:
complicaciones=pd.read_csv("Datasets\\Complcaciones\\ConsultaF_Consolidado_Eventos_2020_v7.csv",encoding='ISO-8859-1')
complicaciones.replace('NE_0002', np.nan, inplace=True)
complicaciones.replace('NE_0001', np.nan, inplace=True)
complicaciones.fillna(0,inplace=True)
complicaciones=complicaciones[complicaciones['SECTOR']=='GOBIERNO REGIONAL']
complicaciones.iloc[:,-1]=complicaciones.iloc[:,-1].apply(pd.to_numeric)
complicaciones=complicaciones[complicaciones['EVENTOS']!=0]
complicaciones.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,EVENTOS,CANT_EVENTOS
0,2020,1,70106,CALLAO,CALLAO,VENTANILLA,GOBIERNO REGIONAL,I-2,6268,P.S. DEFENSORES DE LA PATRIA,Numero de Controles Prenatales realizados.,2
1,2020,1,70106,CALLAO,CALLAO,VENTANILLA,GOBIERNO REGIONAL,I-2,6268,P.S. DEFENSORES DE LA PATRIA,Numero de Controles Prenatales realizados.,18
2,2020,1,70106,CALLAO,CALLAO,VENTANILLA,GOBIERNO REGIONAL,I-2,6268,P.S. DEFENSORES DE LA PATRIA,Numero de Controles Prenatales realizados.,54
3,2020,1,70106,CALLAO,CALLAO,VENTANILLA,GOBIERNO REGIONAL,I-2,6268,P.S. DEFENSORES DE LA PATRIA,Numero de Controles Prenatales realizados.,46
4,2020,1,70106,CALLAO,CALLAO,VENTANILLA,GOBIERNO REGIONAL,I-2,6268,P.S. DEFENSORES DE LA PATRIA,Numero de Controles Prenatales realizados.,34

In [100]:
complicaciones = pd.pivot_table(complicaciones, values='CANT_EVENTOS', index=['ANHO', 'MES', 'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SECTOR', 'CATEGORIA', 'CO_IPRESS', 'RAZON_SOC'], columns='EVENTOS', aggfunc='sum', fill_value=0)
complicaciones.reset_index(inplace=True)
complicaciones.head()

EVENTOS,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,2020,1,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,GOBIERNO REGIONAL,II-2,4838,HOSPITAL REGIONAL VIRGEN DE FATIMA,...,0,0,0,0,80,1,3,0,5,18
1,2020,1,10201,AMAZONAS,BAGUA,BAGUA,GOBIERNO REGIONAL,II-1,5044,HOSPITAL DE APOYO GUSTAVO LANATTA LUJAN,...,0,0,0,0,133,0,1,15,9,11
2,2020,1,10601,AMAZONAS,RODRIGUEZ DE MENDOZA,SAN NICOLAS,GOBIERNO REGIONAL,II-1,4950,MARIA AUXILIADORA,...,0,0,0,0,450,0,0,0,0,0
3,2020,1,10701,AMAZONAS,UTCUBAMBA,BAGUA GRANDE,GOBIERNO REGIONAL,II-1,5125,HOSPITAL SANTIAGO APOSTOL DE UTCUBAMBA,...,0,0,0,0,178,0,0,21,13,17
4,2020,1,20101,ANCASH,HUARAZ,HUARAZ,GOBIERNO REGIONAL,I-1,1544,PUESTO DE SALUD MACASHCA,...,0,0,0,0,60,0,0,5,15,15

In [101]:
colums_to_sum=complicaciones.columns[-21:]
complicaciones=complicaciones.groupby(['CO_IPRESS','MES','ANHO'])[colums_to_sum].sum().reset_index()
complicaciones.head()

EVENTOS,CO_IPRESS,MES,ANHO,Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis,Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.,Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).,Casos Nuevos de TBC pulmonar en el personal del EESS,Casos nuevos de infeccion HIV.,Fallecimientos en todos los servicios.,Nacidos vivos con bajo peso al nacer (< 2500 grs),...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,1,1,2020,0,0,0,0,0,15,0,...,0,0,0,0,0,0,0,297,0,0
1,1,2,2020,0,0,0,0,0,7,0,...,0,0,0,0,0,0,0,293,0,0
2,1,3,2020,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,211,0,0
3,1,4,2020,0,0,0,0,0,6,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5,2020,0,0,0,0,0,7,0,...,0,0,0,0,0,0,0,0,0,0

## Nacimientos

In [102]:
nacimientos=pd.read_csv("Datasets\\Nacimientos\\ConsultaE_Consolidado_Partos_2020_v7_0.csv",encoding='ISO-8859-1')
nacimientos.replace('NE_0002', np.nan, inplace=True)
nacimientos.replace('NE_0001', np.nan, inplace=True)
nacimientos.fillna(0,inplace=True)
nacimientos=nacimientos[nacimientos['SECTOR']=='GOBIERNO REGIONAL']

In [103]:
nacimientos.iloc[:,-3:]=nacimientos.iloc[:,-3:].apply(pd.to_numeric)

In [104]:
nacimientos['Partos_CESAREA'] = 0
nacimientos['Partos_vivos_CESAREA'] = 0
nacimientos['Partos_muertos_CESAREA'] = 0
nacimientos['Partos_VAGINAL'] = 0
nacimientos['Partos_vivos_VAGINAL'] = 0
nacimientos['Partos_muertos_VAGINAL'] = 0

cesarea_condition = nacimientos['TIPO_PARTO'] == 'CESAREA'
vaginal_condition = nacimientos['TIPO_PARTO'] == 'VAGINAL'

nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']

nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']

nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

nacimientos.drop(['PARTOS_TOTAL','PARTOS_VIVOS','PARTOS_MUERTOS','ID_PARTO','TIPO_PARTO'],axis=1,inplace=True)

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 1 4 ... 7 15 20]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[22 62 1 ... 6 10 12]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 1 4 ... 7 15 20]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 0 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[22 62 1 ... 6 10 12]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 0 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

In [105]:
nacimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,Partos_CESAREA,Partos_vivos_CESAREA,Partos_muertos_CESAREA,Partos_VAGINAL,Partos_vivos_VAGINAL,Partos_muertos_VAGINAL
3,2020,2,21601,ANCASH,POMABAMBA,POMABAMBA,GOBIERNO REGIONAL,II-1,1765,"HOSPITAL DE APOYO DE POMABAMBA "" ANTONIO CALDA...",0,0,0,22,22,0
7,2020,4,250105,UCAYALI,CORONEL PORTILLO,YARINACOCHA,GOBIERNO REGIONAL,I-1,13264,SANIDAD AEREA,0,0,0,0,0,0
8,2020,4,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,GOBIERNO REGIONAL,I-3,5569,CLAS TUPAC AMARU,0,0,0,0,0,0
9,2020,4,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,GOBIERNO REGIONAL,I-2,5568,DOS DE MAYO,0,0,0,0,0,0
10,2020,4,250101,UCAYALI,CORONEL PORTILLO,CALLERIA,GOBIERNO REGIONAL,I-3,5567,JOSE OLAYA,0,0,0,0,0,0

In [106]:
nacimientos=nacimientos.groupby(['CO_IPRESS','MES','ANHO'])[['Partos_CESAREA','Partos_VAGINAL','Partos_vivos_CESAREA','Partos_vivos_VAGINAL','Partos_muertos_CESAREA','Partos_muertos_VAGINAL']].sum()
nacimientos=nacimientos.reset_index()
nacimientos.head()

,CO_IPRESS,MES,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL
0,1,1,2020,84,165,78,165,6,0
1,1,2,2020,97,151,92,151,5,0
2,1,3,2020,82,195,78,195,4,0
3,1,4,2020,48,224,44,224,4,0
4,1,5,2020,61,179,56,179,5,0

## HospxEsp

In [107]:
espe=pd.read_csv("Datasets\\Espe\\ConsultaD1_Hospitalizaciones_Especialidad_2020_v7.csv",encoding='ISO-8859-1')
espe.replace('NE_0002', np.nan, inplace=True)
espe.replace('NE_0001', np.nan, inplace=True)
espe.fillna(0,inplace=True)
espe=espe[espe['SECTOR']=='GOBIERNO REGIONAL']

In [108]:
espe.iloc[:,-7:]=espe.iloc[:,-7:].apply(pd.to_numeric,errors='coerce')
espe=espe.groupby(['CO_IPRESS','MES','ANHO'])[['NRO_TOTAL_HOSPIT_ING','NRO_TOTAL_HOSPIT_EGR','NRO_TOTAL_ESTANCIAS','NRO_TOTAL_PACIENTES_CAMAS','NRO_TOTAL_CAMAS','NRO_TOTAL_CAMAS_DISPONIB','NRO_TOTAL_FALLECIDOS']].sum()
espe=espe.reset_index()
espe

,CO_IPRESS,MES,ANHO,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,NRO_TOTAL_ESTANCIAS,NRO_TOTAL_PACIENTES_CAMAS,NRO_TOTAL_CAMAS,NRO_TOTAL_CAMAS_DISPONIB,NRO_TOTAL_FALLECIDOS
0,1,1,2020,635,713,2499,2414,108,3348,15
1,1,2,2020,641,722,2551,2394,108,3132,7
2,1,3,2020,627,715,2383,2432,108,3348,8
3,1,4,2020,464,519,1402,1911,108,3240,6
4,1,5,2020,362,384,837,1178,76,2356,7
...,...,...,...,...,...,...,...,...,...,...
28063,27857,8,2020,212,187,1081,1154,64,1664,4
28064,27857,9,2020,246,246,1717,371,66,1980,5
28065,27857,10,2020,245,258,1516,472,67,2077,4
28066,27857,11,2020,245,258,1516,472,67,2077,4
28067,27857,12,2020,201,181,1246,1505,67,2077,7

## Recursos

In [109]:
recursos=pd.read_csv("Datasets\\Recursos\\ConsultaA_Recursos_Salud_2020_v7.csv",encoding='ISO-8859-1')
recursos.replace('NE_0002', np.nan, inplace=True)
recursos.replace('NE_0001', np.nan, inplace=True)
recursos.fillna(0,inplace=True)
recursos=recursos[recursos['SECTOR']=='GOBIERNO REGIONAL']

In [110]:
recursos.iloc[:,10:26]=recursos.iloc[:,10:26].apply(pd.to_numeric)
columns_to_sum = recursos.columns[10:26]
recursos = recursos.groupby(['CO_IPRESS', 'MES','ANHO'])[columns_to_sum].sum()
recursos = recursos.reset_index()
recursos

,CO_IPRESS,MES,ANHO,CA_CONSULTORIOS,CA_CONSULTORIOS_FN,CA_CAMAS,CA_MEDICOS_TOTAL,CA_MEDICOS_SERUM,CA_MEDICOS_RESIDENTES,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,1,1,2020,17,20,108,54,0,10,89,5,5,2,1,33,5,208,7,1
1,1,2,2020,17,20,108,54,0,10,89,5,5,2,1,33,5,208,7,1
2,1,3,2020,17,20,108,54,0,10,89,5,5,2,1,33,5,208,7,1
3,1,4,2020,17,20,108,54,0,10,89,5,5,2,1,33,5,208,7,1
4,1,5,2020,17,20,108,54,0,10,89,5,5,2,1,33,5,208,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255,27857,8,2020,17,18,60,59,0,0,63,0,0,4,36,0,21,89,0,1
28256,27857,9,2020,14,19,67,74,0,0,79,0,2,3,41,0,22,128,0,1
28257,27857,10,2020,17,22,67,74,0,0,79,0,2,3,41,0,22,128,0,0
28258,27857,11,2020,17,22,67,81,0,0,96,0,2,4,49,0,19,156,0,1
28259,27857,12,2020,17,22,67,81,0,0,96,0,2,4,49,5,23,156,0,1

## base final

In [111]:
print(recursos.shape)
print(nacimientos.shape)

(28260, 19)
(28882, 9)

In [112]:
df20 = pd.merge(recursos, nacimientos, on=['CO_IPRESS', 'MES', 'ANHO'], how='outer')
df20 = pd.merge(df20, cirugias, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df20 = pd.merge(df20, espe, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df20 = pd.merge(df20, procedimientos, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df20 = pd.merge(df20, complicaciones, on=['CO_IPRESS', 'MES','ANHO'], how='outer')

In [113]:
for i in df20.columns:
    print (i)

CO_IPRESS
MES
ANHO
CA_CONSULTORIOS
CA_CONSULTORIOS_FN
CA_CAMAS
CA_MEDICOS_TOTAL
CA_MEDICOS_SERUM
CA_MEDICOS_RESIDENTES
CA_ENFERMERAS
CA_ODONTOLOGOS
CA_PSICOLOGOS
CA_NUTRICIONISTAS
CA_TECNOLOGOS_MEDICOS
CA_OBSTETRICES
CA_FARMACEUTICOS
CA_AUXILIARES
CA_OTROS_PROF
CA_AMBULANCIAS
Partos_CESAREA
Partos_VAGINAL
Partos_vivos_CESAREA
Partos_vivos_VAGINAL
Partos_muertos_CESAREA
Partos_muertos_VAGINAL
DE_PROGRAMC
TOTAL_CIRUJ_MAY
TOTAL_CIRUJ_MEN
HORAS_PROGRAMADAS
HORAS_EFECTIVAS
HORAS_ACT_QUIRURJ
CIRUJ_SUSPEND
NRO_TOTAL_HOSPIT_ING
NRO_TOTAL_HOSPIT_EGR
NRO_TOTAL_ESTANCIAS
NRO_TOTAL_PACIENTES_CAMAS
NRO_TOTAL_CAMAS
NRO_TOTAL_CAMAS_DISPONIB
NRO_TOTAL_FALLECIDOS
TOTAL
Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis
Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.
Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).
Casos Nuevos de TBC pulmonar en el personal del EESS
Casos nuevos de infeccion HIV.
Fallecimientos en todos los servicios.
Nacidos vivos con bajo peso al nacer (< 2500 grs)
Nacidos vivos con edad gestacional menor a 37  semanas de gestaci√≥n (seg√∫n Fecha de Ultima Regla)
Ni√±os  de 37 meses que completaron por lo menos 6 controles CRED
Ni√±os de 37 meses que completaron esquema nacional de inmunizaciones
Numero de Casos Nuevos  de Infeccion Intrahospitalaria en Neonatos
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en Gineco obstetricia
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en UCI
Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter
Numero de Casos Nuevos de infeccion de herida operatoria
Numero de Controles Prenatales realizados.
Numero de muertes maternas
Numero de muertes neonatales (menos de 28 dias de nacido)
Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS
Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo
Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.

# 2021

## Cirugias

In [114]:
cirugias=pd.read_csv('Datasets\\Cirugias\\ConsultaH_Intervenciones_Quirurgicas_2021_v18_0.csv',encoding='ISO-8859-1')
cirugias.replace('NE_0002', np.nan, inplace=True)
cirugias.replace('NE_0001', np.nan, inplace=True)
cirugias.fillna(0,inplace=True)
cirugias=cirugias[cirugias['SECTOR']=='GOBIERNO REGIONAL']
cirugias.iloc[:,10:]=cirugias.iloc[:,10:].apply(pd.to_numeric,errors='coerce')
cirugias.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
3,2021,1,130702,LA LIBERTAD,PACASMAYO,GUADALUPE,GOBIERNO REGIONAL,I-2,5294,VILLA SAN ISIDRO,0,0,0,0,0.0,0.0,0
4,2021,1,90301,HUANCAVELICA,ANGARAES,LIRCAY,GOBIERNO REGIONAL,II-1,3943,HOSPITAL DE LIRCAY,2,19,4,0,89.0,NaN,0
5,2021,1,120205,JUNIN,CONCEPCION,COCHAS,GOBIERNO REGIONAL,I-2,676,COCHAS,0,0,0,0,0.0,0.0,0
6,2021,1,120206,JUNIN,CONCEPCION,COMAS,GOBIERNO REGIONAL,I-1,684,RUNATULLO,0,0,0,0,0.0,0.0,0
7,2021,1,120203,JUNIN,CONCEPCION,ANDAMARCA,GOBIERNO REGIONAL,I-1,19790,PUNCO,0,0,0,0,0.0,0.0,0

In [115]:
cirugias_to_sum = cirugias.columns[10:]
cirugias=cirugias.groupby(['CO_IPRESS','ANHO','MES'])[cirugias_to_sum].sum().reset_index()
cirugias.head()

,CO_IPRESS,ANHO,MES,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
0,1,2021,1,3,249,11,43,142.0,0,2
1,1,2021,2,3,202,7,86,174.0,0,0
2,1,2021,3,3,242,12,81,347.0,0,0
3,1,2021,4,3,234,6,72,154.0,0,0
4,1,2021,5,3,190,4,68,135.0,0,0

## Procedimientos

In [116]:
procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2021_I_v9.csv",encoding='ISO-8859-1')
procedimientos1.iloc[:,12]=procedimientos1.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos1=procedimientos1[procedimientos1['SECTOR']=='GOBIERNO REGIONAL']
procedimientos1=procedimientos1.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\578226089.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2021_I_v9.csv",encoding='ISO-8859-1')

In [117]:
procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2021_II_v18.csv",encoding='ISO-8859-1')
procedimientos2.iloc[:,12]=procedimientos2.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos2=procedimientos2[procedimientos2['SECTOR']=='GOBIERNO REGIONAL']
procedimientos2=procedimientos2.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\1723472464.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2021_II_v18.csv",encoding='ISO-8859-1')

In [118]:
procedimientos=pd.concat([procedimientos1,procedimientos2])
procedimientos.head()

   CO_IPRESS  MES  ANHO    TOTAL
0          1    1  2021  11495.0
1          1    2  2021   2358.0
2          1    3  2021   3028.0
3          1    4  2021   3057.0
4          1    5  2021   2752.0

In [119]:
procedimientos.shape

(13855, 4)

## Complicaciones

In [120]:
complicaciones=pd.read_csv("Datasets\\Complcaciones\\ConsultaF_Consolidado_Eventos_2021_v18.csv",encoding='ISO-8859-1')
complicaciones.replace('NE_0002', np.nan, inplace=True)
complicaciones.replace('NE_0001', np.nan, inplace=True)
complicaciones.fillna(0,inplace=True)
complicaciones=complicaciones[complicaciones['SECTOR']=='GOBIERNO REGIONAL']
complicaciones.iloc[:,-1]=complicaciones.iloc[:,-1].apply(pd.to_numeric)
complicaciones=complicaciones[complicaciones['EVENTOS']!=0]
complicaciones.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,EVENTOS,CANT_EVENTOS
11,2021,2,240101,TUMBES,TUMBES,TUMBES,GOBIERNO REGIONAL,II-2,17077,HOSPITAL REGIONAL JOSE ALFREDO MENDOZA OLAVARR...,Fallecimientos en todos los servicios.,3
12,2021,2,240101,TUMBES,TUMBES,TUMBES,GOBIERNO REGIONAL,II-2,17077,HOSPITAL REGIONAL JOSE ALFREDO MENDOZA OLAVARR...,Fallecimientos en todos los servicios.,1
13,2021,2,240101,TUMBES,TUMBES,TUMBES,GOBIERNO REGIONAL,II-2,17077,HOSPITAL REGIONAL JOSE ALFREDO MENDOZA OLAVARR...,Fallecimientos en todos los servicios.,1
14,2021,2,240101,TUMBES,TUMBES,TUMBES,GOBIERNO REGIONAL,II-2,17077,HOSPITAL REGIONAL JOSE ALFREDO MENDOZA OLAVARR...,Fallecimientos en todos los servicios.,1
15,2021,2,240101,TUMBES,TUMBES,TUMBES,GOBIERNO REGIONAL,II-2,17077,HOSPITAL REGIONAL JOSE ALFREDO MENDOZA OLAVARR...,Fallecimientos en todos los servicios.,1

In [121]:
complicaciones = pd.pivot_table(complicaciones, values='CANT_EVENTOS', index=['ANHO', 'MES', 'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SECTOR', 'CATEGORIA', 'CO_IPRESS', 'RAZON_SOC'], columns='EVENTOS', aggfunc='sum', fill_value=0)
complicaciones.reset_index(inplace=True)
complicaciones.head()

EVENTOS,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,2021,1,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,GOBIERNO REGIONAL,II-2,4838,HOSPITAL REGIONAL VIRGEN DE FATIMA,...,0,0,0,0,10,0,2,0,0,9
1,2021,1,10201,AMAZONAS,BAGUA,BAGUA,GOBIERNO REGIONAL,II-1,5044,HOSPITAL DE APOYO GUSTAVO LANATTA LUJAN,...,0,0,0,0,98,0,2,4,0,11
2,2021,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,II-1,5145,SANTA MARIA DE NIEVA,...,0,0,0,0,51,0,0,0,0,0
3,2021,1,10601,AMAZONAS,RODRIGUEZ DE MENDOZA,SAN NICOLAS,GOBIERNO REGIONAL,II-1,4950,MARIA AUXILIADORA,...,0,0,0,0,294,0,0,0,0,0
4,2021,1,10701,AMAZONAS,UTCUBAMBA,BAGUA GRANDE,GOBIERNO REGIONAL,II-1,5125,HOSPITAL SANTIAGO APOSTOL DE UTCUBAMBA,...,0,0,0,0,1008,0,0,15,3,7

In [122]:
colums_to_sum=complicaciones.columns[-21:]
complicaciones=complicaciones.groupby(['CO_IPRESS','MES','ANHO'])[colums_to_sum].sum().reset_index()
complicaciones.head()

EVENTOS,CO_IPRESS,MES,ANHO,Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis,Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.,Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).,Casos Nuevos de TBC pulmonar en el personal del EESS,Casos nuevos de infeccion HIV.,Fallecimientos en todos los servicios.,Nacidos vivos con bajo peso al nacer (< 2500 grs),...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,1,1,2021,0,0,0,0,0,11,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2021,0,0,0,0,0,14,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,2021,0,0,0,0,0,19,0,...,0,0,0,0,0,0,0,0,0,0
3,1,4,2021,0,0,0,0,0,12,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5,2021,0,0,0,0,0,11,0,...,0,0,0,0,0,0,0,0,0,0

## Nacimientos

In [123]:
nacimientos=pd.read_csv("Datasets\\Nacimientos\\ConsultaE_Consolidado_Partos_2021_v18.csv",encoding='ISO-8859-1')
nacimientos.replace('NE_0002', np.nan, inplace=True)
nacimientos.replace('NE_0001', np.nan, inplace=True)
nacimientos.fillna(0,inplace=True)
nacimientos=nacimientos[nacimientos['SECTOR']=='GOBIERNO REGIONAL']

In [124]:
nacimientos.iloc[:,-3:]=nacimientos.iloc[:,-3:].apply(pd.to_numeric)

In [125]:
nacimientos['Partos_CESAREA'] = 0
nacimientos['Partos_vivos_CESAREA'] = 0
nacimientos['Partos_muertos_CESAREA'] = 0
nacimientos['Partos_VAGINAL'] = 0
nacimientos['Partos_vivos_VAGINAL'] = 0
nacimientos['Partos_muertos_VAGINAL'] = 0

cesarea_condition = nacimientos['TIPO_PARTO'] == 'CESAREA'
vaginal_condition = nacimientos['TIPO_PARTO'] == 'VAGINAL'

nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']

nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']

nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

nacimientos.drop(['PARTOS_TOTAL','PARTOS_VIVOS','PARTOS_MUERTOS','ID_PARTO','TIPO_PARTO'],axis=1,inplace=True)

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[5 71 59 ... 68 69 68]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 1 1 ... 2 1 1]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[5 71 59 ... 68 69 65]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 0 0 3]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 1 1 ... 2 1 1]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 0 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

In [126]:
nacimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,Partos_CESAREA,Partos_vivos_CESAREA,Partos_muertos_CESAREA,Partos_VAGINAL,Partos_vivos_VAGINAL,Partos_muertos_VAGINAL
0,2021,12,120701,JUNIN,TARMA,TARMA,GOBIERNO REGIONAL,I-1,590,MISARURASHA,0,0,0,0,0,0
1,2021,11,120701,JUNIN,TARMA,TARMA,GOBIERNO REGIONAL,I-1,590,MISARURASHA,0,0,0,0,0,0
2,2021,9,120701,JUNIN,TARMA,TARMA,GOBIERNO REGIONAL,I-1,590,MISARURASHA,0,0,0,0,0,0
3,2021,10,120701,JUNIN,TARMA,TARMA,GOBIERNO REGIONAL,I-1,590,MISARURASHA,0,0,0,0,0,0
4,2021,8,120701,JUNIN,TARMA,TARMA,GOBIERNO REGIONAL,I-1,590,MISARURASHA,0,0,0,0,0,0

In [127]:
nacimientos=nacimientos.groupby(['CO_IPRESS','MES','ANHO'])[['Partos_CESAREA','Partos_VAGINAL','Partos_vivos_CESAREA','Partos_vivos_VAGINAL','Partos_muertos_CESAREA','Partos_muertos_VAGINAL']].sum()
nacimientos=nacimientos.reset_index()
nacimientos.head()

,CO_IPRESS,MES,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL
0,1,1,2021,51,214,47,214,4,0
1,1,2,2021,62,230,61,230,1,0
2,1,3,2021,61,286,55,286,6,0
3,1,4,2021,65,280,62,278,3,2
4,1,5,2021,72,296,68,296,4,0

## HospxEsp

In [128]:
espe=pd.read_csv("Datasets\\Espe\\ConsultaD1_Hospitalizaciones_Especialidad_2021_v18.csv",encoding='ISO-8859-1')
espe.replace('NE_0002', np.nan, inplace=True)
espe.replace('NE_0001', np.nan, inplace=True)
espe.fillna(0,inplace=True)
espe=espe[espe['SECTOR']=='GOBIERNO REGIONAL']

In [129]:
espe.iloc[:,-7:]=espe.iloc[:,-7:].apply(pd.to_numeric,errors='coerce')
espe=espe.groupby(['CO_IPRESS','MES','ANHO'])[['NRO_TOTAL_HOSPIT_ING','NRO_TOTAL_HOSPIT_EGR','NRO_TOTAL_ESTANCIAS','NRO_TOTAL_PACIENTES_CAMAS','NRO_TOTAL_CAMAS','NRO_TOTAL_CAMAS_DISPONIB','NRO_TOTAL_FALLECIDOS']].sum()
espe=espe.reset_index()
espe

,CO_IPRESS,MES,ANHO,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,NRO_TOTAL_ESTANCIAS,NRO_TOTAL_PACIENTES_CAMAS,NRO_TOTAL_CAMAS,NRO_TOTAL_CAMAS_DISPONIB,NRO_TOTAL_FALLECIDOS
0,1,1,2021,508,554,1668,1984,94,2914,11
1,1,2,2021,576,576,1698,1847,94,2632,14
2,1,3,2021,661,661,2175,2432,108,3348,19
3,1,4,2021,683,683,2095,2070,94,2820,12
4,1,5,2021,740,740,2557,2352,94,2933,11
...,...,...,...,...,...,...,...,...,...,...
26721,29509,8,2021,0,0,0,0,0,0,0
26722,29509,9,2021,0,0,0,0,0,0,0
26723,29509,10,2021,0,0,0,0,0,0,0
26724,29509,11,2021,0,0,0,0,0,0,0
26725,29509,12,2021,0,0,0,0,0,0,0

## Recursos

In [130]:
recursos=pd.read_csv("Datasets\\Recursos\\ConsultaA_Recursos_Salud_2021_v19.csv",encoding='ISO-8859-1',sep=';')
recursos.replace('NE_0002', np.nan, inplace=True)
recursos.replace('NE_0001', np.nan, inplace=True)
recursos.fillna(0,inplace=True)
recursos=recursos[recursos['SECTOR']=='GOBIERNO REGIONAL']

In [131]:
recursos.iloc[:,10:26]=recursos.iloc[:,10:26].apply(pd.to_numeric)
columns_to_sum = recursos.columns[10:26]
recursos = recursos.groupby(['CO_IPRESS', 'MES','ANHO'])[columns_to_sum].sum()
recursos = recursos.reset_index()
recursos

,CO_IPRESS,MES,ANHO,CA_CONSULTORIOS,CA_CONSULTORIOS_FN,CA_CAMAS,CA_MEDICOS_TOTAL,CA_MEDICOS_SERUM,CA_MEDICOS_RESIDENTES,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,1,1,2021,17,20,94,54,0,10,89,5,5,2,1,33,5,208,7,1
1,1,2,2021,17,20,108,55,0,12,108,4,5,4,1,47,9,360,100,1
2,1,3,2021,17,20,108,60,0,10,109,4,5,5,1,47,9,360,100,1
3,1,4,2021,17,20,108,64,0,10,107,4,5,5,1,47,9,360,100,1
4,1,5,2021,17,20,108,64,0,10,107,4,5,5,1,47,9,360,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26631,27857,8,2021,17,22,67,82,0,16,113,0,3,5,45,0,22,107,0,1
26632,27857,9,2021,17,22,67,76,0,16,128,0,3,5,44,0,22,107,0,0
26633,27857,10,2021,17,34,67,87,0,16,135,0,3,6,60,0,22,204,0,0
26634,27857,11,2021,17,34,67,85,0,16,134,0,2,7,58,0,22,204,0,0
26635,27857,12,2021,17,22,67,72,0,36,134,0,2,7,74,0,22,208,6,0

## base final

In [132]:
print(recursos.shape)
print(nacimientos.shape)

(26636, 19)
(26729, 9)

In [133]:
df21 = pd.merge(recursos, nacimientos, on=['CO_IPRESS', 'MES', 'ANHO'], how='outer')
df21 = pd.merge(df21, cirugias, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df21 = pd.merge(df21, espe, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df21 = pd.merge(df21, procedimientos, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df21 = pd.merge(df21, complicaciones, on=['CO_IPRESS', 'MES','ANHO'], how='outer')

In [134]:
for i in df21.columns:
    print (i)

CO_IPRESS
MES
ANHO
CA_CONSULTORIOS
CA_CONSULTORIOS_FN
CA_CAMAS
CA_MEDICOS_TOTAL
CA_MEDICOS_SERUM
CA_MEDICOS_RESIDENTES
CA_ENFERMERAS
CA_ODONTOLOGOS
CA_PSICOLOGOS
CA_NUTRICIONISTAS
CA_TECNOLOGOS_MEDICOS
CA_OBSTETRICES
CA_FARMACEUTICOS
CA_AUXILIARES
CA_OTROS_PROF
CA_AMBULANCIAS
Partos_CESAREA
Partos_VAGINAL
Partos_vivos_CESAREA
Partos_vivos_VAGINAL
Partos_muertos_CESAREA
Partos_muertos_VAGINAL
DE_PROGRAMC
TOTAL_CIRUJ_MAY
TOTAL_CIRUJ_MEN
HORAS_PROGRAMADAS
HORAS_EFECTIVAS
HORAS_ACT_QUIRURJ
CIRUJ_SUSPEND
NRO_TOTAL_HOSPIT_ING
NRO_TOTAL_HOSPIT_EGR
NRO_TOTAL_ESTANCIAS
NRO_TOTAL_PACIENTES_CAMAS
NRO_TOTAL_CAMAS
NRO_TOTAL_CAMAS_DISPONIB
NRO_TOTAL_FALLECIDOS
TOTAL
Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis
Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.
Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).
Casos Nuevos de TBC pulmonar en el personal del EESS
Casos nuevos de infeccion HIV.
Fallecimientos en todos los servicios.
Nacidos vivos con bajo peso al nacer (< 2500 grs)
Nacidos vivos con edad gestacional menor a 37  semanas de gestaci√≥n (seg√∫n Fecha de Ultima Regla)
Ni√±os  de 37 meses que completaron por lo menos 6 controles CRED
Ni√±os de 37 meses que completaron esquema nacional de inmunizaciones
Numero de Casos Nuevos  de Infeccion Intrahospitalaria en Neonatos
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en Gineco obstetricia
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en UCI
Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter
Numero de Casos Nuevos de infeccion de herida operatoria
Numero de Controles Prenatales realizados.
Numero de muertes maternas
Numero de muertes neonatales (menos de 28 dias de nacido)
Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS
Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo
Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.

# 2022

## Cirugias

In [135]:
cirugias=pd.read_csv('Datasets\\Cirugias\\ConsultaH_Intervenciones_Quirurgicas_2022_v24.csv',encoding='ISO-8859-1',sep=';')
cirugias.replace('NE_0002', np.nan, inplace=True)
cirugias.replace('NE_0001', np.nan, inplace=True)
cirugias.fillna(0,inplace=True)
cirugias=cirugias[cirugias['SECTOR']=='GOBIERNO REGIONAL']
cirugias.iloc[:,10:]=cirugias.iloc[:,10:].apply(pd.to_numeric,errors='coerce')
cirugias.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
3,2022,1,60605,CAJAMARCA,CUTERVO,LA RAMADA,GOBIERNO REGIONAL,I-1,8923,CARHUALLO,0,0,0,0.0,0.0,0.0,0
7,2022,1,60607,CAJAMARCA,CUTERVO,QUEROCOTILLO,GOBIERNO REGIONAL,I-1,4969,EL MOLINO,0,0,0,0.0,0.0,0.0,0
8,2022,1,60603,CAJAMARCA,CUTERVO,CHOROS,GOBIERNO REGIONAL,I-1,4973,EL ROLLO,0,0,0,0.0,0.0,0.0,0
9,2022,1,60607,CAJAMARCA,CUTERVO,QUEROCOTILLO,GOBIERNO REGIONAL,I-1,6860,TECHIN,0,0,0,0.0,0.0,0.0,0
10,2022,1,60602,CAJAMARCA,CUTERVO,CALLAYUC,GOBIERNO REGIONAL,I-1,4962,HUABAL,0,0,0,0.0,0.0,0.0,0

In [136]:
cirugias_to_sum = cirugias.columns[10:]
cirugias=cirugias.groupby(['CO_IPRESS','ANHO','MES'])[cirugias_to_sum].sum().reset_index()
cirugias.head()

,CO_IPRESS,ANHO,MES,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
0,1,2022,1,3,219,19,109.0,279.0,0,0
1,1,2022,2,3,327,11,216.0,468.0,0,0
2,1,2022,3,3,272,26,225.0,690.0,0,3
3,1,2022,4,3,251,27,207.0,626.0,0,3
4,1,2022,5,3,243,9,234.0,510.0,0,5

## Procedimientos

In [137]:
procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2022_I_v12.csv",encoding='ISO-8859-1',sep=';')
procedimientos1.iloc[:,12]=procedimientos1.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos1=procedimientos1[procedimientos1['SECTOR']=='GOBIERNO REGIONAL']
procedimientos1=procedimientos1.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\3635800859.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos1=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2022_I_v12.csv",encoding='ISO-8859-1',sep=';')

In [138]:
procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2022_II_v15.csv",encoding='ISO-8859-1',sep=';')
procedimientos2.iloc[:,12]=procedimientos2.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos2=procedimientos2[procedimientos2['SECTOR']=='GOBIERNO REGIONAL']
procedimientos2=procedimientos2.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\447208121.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos2=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2022_II_v15.csv",encoding='ISO-8859-1',sep=';')

In [139]:
procedimientos3=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2022_III_v4.csv",encoding='ISO-8859-1',sep=';')
procedimientos3.iloc[:,12]=procedimientos3.iloc[:,12].apply(pd.to_numeric,errors='coerce')
procedimientos3=procedimientos3[procedimientos3['SECTOR']=='GOBIERNO REGIONAL']
procedimientos3=procedimientos3.groupby(['CO_IPRESS','MES','ANHO'])['TOTAL'].sum().reset_index()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\242948359.py:1: SyntaxWarning: invalid escape sequence '\P'
  procedimientos3=pd.read_csv("Datasets\Procedimientos\\ConsultaG_Procedimientos_2022_III_v4.csv",encoding='ISO-8859-1',sep=';')

In [140]:
procedimientos=pd.concat([procedimientos1,procedimientos2])
procedimientos=pd.concat([procedimientos,procedimientos3])
procedimientos.head()

   CO_IPRESS  MES  ANHO    TOTAL
0          1    1  2022   2968.0
1          1    2  2022   9222.0
2          1    3  2022  12562.0
3          1    4  2022  10596.0
4          3    1  2022  61108.0

In [141]:
procedimientos.shape

(27122, 4)

## Complicaciones

In [142]:
complicaciones=pd.read_csv("Datasets\\Complcaciones\\ConsultaF_Consolidado_Eventos_2022_v23_0.csv",encoding='ISO-8859-1',sep=';')
complicaciones.replace('NE_0002', np.nan, inplace=True)
complicaciones.replace('NE_0001', np.nan, inplace=True)
complicaciones.fillna(0,inplace=True)
complicaciones=complicaciones[complicaciones['SECTOR']=='GOBIERNO REGIONAL']
complicaciones.iloc[:,-1]=complicaciones.iloc[:,-1].apply(pd.to_numeric)
complicaciones=complicaciones[complicaciones['EVENTOS']!=0]
complicaciones.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,EVENTOS,CANT_EVENTOS
0,2022,1,40514,AREQUIPA,CAYLLOMA,SAN ANTONIO DE CHUCA,GOBIERNO REGIONAL,I-2,1242,PUESTO DE SALUD IMATA,Numero de Controles Prenatales realizados.,1
1,2022,1,40514,AREQUIPA,CAYLLOMA,SAN ANTONIO DE CHUCA,GOBIERNO REGIONAL,I-2,1242,PUESTO DE SALUD IMATA,Numero de Controles Prenatales realizados.,2
2,2022,1,40128,AREQUIPA,AREQUIPA,YURA,GOBIERNO REGIONAL,I-3,1253,CENTRO DE SALUD CIUDAD DE DIOS,Numero de Controles Prenatales realizados.,41
3,2022,1,40128,AREQUIPA,AREQUIPA,YURA,GOBIERNO REGIONAL,I-3,1253,CENTRO DE SALUD CIUDAD DE DIOS,Numero de Controles Prenatales realizados.,86
4,2022,1,40128,AREQUIPA,AREQUIPA,YURA,GOBIERNO REGIONAL,I-3,1253,CENTRO DE SALUD CIUDAD DE DIOS,Numero de Controles Prenatales realizados.,81

In [143]:
complicaciones = pd.pivot_table(complicaciones, values='CANT_EVENTOS', index=['ANHO', 'MES', 'UBIGEO', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'SECTOR', 'CATEGORIA', 'CO_IPRESS', 'RAZON_SOC'], columns='EVENTOS', aggfunc='sum', fill_value=0)
complicaciones.reset_index(inplace=True)
complicaciones.head()

EVENTOS,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,2022,1,10101,AMAZONAS,CHACHAPOYAS,CHACHAPOYAS,GOBIERNO REGIONAL,II-2,4838,HOSPITAL REGIONAL VIRGEN DE FATIMA,...,0,0,0,0,0,0,1,0,0,2
1,2022,1,10201,AMAZONAS,BAGUA,BAGUA,GOBIERNO REGIONAL,II-1,5044,HOSPITAL DE APOYO GUSTAVO LANATTA LUJAN,...,0,0,0,0,146,0,3,2,14,1
2,2022,1,10401,AMAZONAS,CONDORCANQUI,NIEVA,GOBIERNO REGIONAL,II-1,5145,SANTA MARIA DE NIEVA,...,0,0,0,0,228,0,0,0,0,0
3,2022,1,10601,AMAZONAS,RODRIGUEZ DE MENDOZA,SAN NICOLAS,GOBIERNO REGIONAL,II-1,4950,MARIA AUXILIADORA,...,0,0,0,0,210,0,0,0,0,0
4,2022,1,10701,AMAZONAS,UTCUBAMBA,BAGUA GRANDE,GOBIERNO REGIONAL,II-1,5125,HOSPITAL SANTIAGO APOSTOL DE UTCUBAMBA,...,0,0,0,0,732,0,0,15,11,15

In [144]:
colums_to_sum=complicaciones.columns[-21:]
complicaciones=complicaciones.groupby(['CO_IPRESS','MES','ANHO'])[colums_to_sum].sum().reset_index()
complicaciones.head()

EVENTOS,CO_IPRESS,MES,ANHO,Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis,Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.,Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).,Casos Nuevos de TBC pulmonar en el personal del EESS,Casos nuevos de infeccion HIV.,Fallecimientos en todos los servicios.,Nacidos vivos con bajo peso al nacer (< 2500 grs),...,Numero de Casos Nuevos de Infeccion Intrahospitalaria en Gineco obstetricia,Numero de Casos Nuevos de Infeccion Intrahospitalaria en UCI,Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter,Numero de Casos Nuevos de infeccion de herida operatoria,Numero de Controles Prenatales realizados.,Numero de muertes maternas,Numero de muertes neonatales (menos de 28 dias de nacido),Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
0,1,1,2022,0,0,0,0,0,15,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2022,0,0,1,7,0,7,0,...,0,0,0,0,90,0,0,0,0,22
2,1,3,2022,0,0,0,3,0,24,0,...,0,0,0,0,178,0,0,53,30,45
3,1,4,2022,0,0,0,0,0,10,0,...,0,0,0,0,139,0,0,105,4,87
4,1,5,2022,0,0,0,0,0,24,0,...,0,0,0,0,0,0,0,0,0,0

## Nacimientos

In [145]:
nacimientos=pd.read_csv("Datasets\\Nacimientos\\ConsultaE_Consolidado_Partos_2022_v23.csv",encoding='ISO-8859-1',sep=';')
nacimientos.replace('NE_0002', np.nan, inplace=True)
nacimientos.replace('NE_0001', np.nan, inplace=True)
nacimientos.fillna(0,inplace=True)
nacimientos=nacimientos[nacimientos['SECTOR']=='GOBIERNO REGIONAL']

In [146]:
nacimientos.iloc[:,-3:]=nacimientos.iloc[:,-3:].apply(pd.to_numeric)

In [147]:
nacimientos['Partos_CESAREA'] = 0
nacimientos['Partos_vivos_CESAREA'] = 0
nacimientos['Partos_muertos_CESAREA'] = 0
nacimientos['Partos_VAGINAL'] = 0
nacimientos['Partos_vivos_VAGINAL'] = 0
nacimientos['Partos_muertos_VAGINAL'] = 0

cesarea_condition = nacimientos['TIPO_PARTO'] == 'CESAREA'
vaginal_condition = nacimientos['TIPO_PARTO'] == 'VAGINAL'

nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']

nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']

nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

nacimientos.drop(['PARTOS_TOTAL','PARTOS_VIVOS','PARTOS_MUERTOS','ID_PARTO','TIPO_PARTO'],axis=1,inplace=True)

C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[104 58 26 ... 1 10 10]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 2 2 ... 12 8 7]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_TOTAL']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[102 57 26 ... 1 10 10]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_vivos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2 1 0 ... 0 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[cesarea_condition, 'Partos_muertos_CESAREA'] = nacimientos.loc[cesarea_condition, 'PARTOS_MUERTOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 2 2 ... 12 8 7]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_vivos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_VIVOS']
C:\Users\gonza\AppData\Local\Temp\ipykernel_7888\4237658524.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 ... 0 0 0]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nacimientos.loc[vaginal_condition, 'Partos_muertos_VAGINAL'] = nacimientos.loc[vaginal_condition, 'PARTOS_MUERTOS']

In [148]:
nacimientos.head()

,ANHO,MES,UBIGEO,DEPARTAMENTO,PROVINCIA,DISTRITO,SECTOR,CATEGORIA,CO_IPRESS,RAZON_SOC,Partos_CESAREA,Partos_vivos_CESAREA,Partos_muertos_CESAREA,Partos_VAGINAL,Partos_vivos_VAGINAL,Partos_muertos_VAGINAL
5,2022,1,60805,CAJAMARCA,JAEN,HUABAL,GOBIERNO REGIONAL,I-1,13849,SANTA ROSA DE HUABAL,0,0,0,1,1,0
6,2022,1,60805,CAJAMARCA,JAEN,HUABAL,GOBIERNO REGIONAL,I-1,4243,LA ESPERANZA,0,0,0,0,0,0
7,2022,1,60805,CAJAMARCA,JAEN,HUABAL,GOBIERNO REGIONAL,I-1,16136,CAJONES,0,0,0,0,0,0
8,2022,1,60805,CAJAMARCA,JAEN,HUABAL,GOBIERNO REGIONAL,I-1,4242,SAN FRANCISCO DE ASIS,0,0,0,0,0,0
9,2022,1,60805,CAJAMARCA,JAEN,HUABAL,GOBIERNO REGIONAL,I-1,7124,CORAZON DE JESUS,0,0,0,0,0,0

In [149]:
nacimientos=nacimientos.groupby(['CO_IPRESS','MES','ANHO'])[['Partos_CESAREA','Partos_VAGINAL','Partos_vivos_CESAREA','Partos_vivos_VAGINAL','Partos_muertos_CESAREA','Partos_muertos_VAGINAL']].sum()
nacimientos=nacimientos.reset_index()
nacimientos.head()

,CO_IPRESS,MES,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL
0,1,1,2022,87,224,82,224,5,0
1,1,2,2022,120,180,116,180,4,0
2,1,3,2022,118,181,121,180,0,1
3,1,4,2022,122,155,121,153,1,2
4,1,5,2022,89,152,89,152,0,0

## HospxEsp

In [150]:
espe=pd.read_csv("Datasets\\Espe\\ConsultaD1_Hospitalizaciones_Especialidad_2022_v23.csv",encoding='ISO-8859-1',sep=';')
espe.replace('NE_0002', np.nan, inplace=True)
espe.replace('NE_0001', np.nan, inplace=True)
espe.fillna(0,inplace=True)
espe=espe[espe['SECTOR']=='GOBIERNO REGIONAL']

In [151]:
espe.iloc[:,-7:]=espe.iloc[:,-7:].apply(pd.to_numeric,errors='coerce')
espe=espe.groupby(['CO_IPRESS','MES','ANHO'])[['NRO_TOTAL_HOSPIT_ING','NRO_TOTAL_HOSPIT_EGR','NRO_TOTAL_ESTANCIAS','NRO_TOTAL_PACIENTES_CAMAS','NRO_TOTAL_CAMAS','NRO_TOTAL_CAMAS_DISPONIB','NRO_TOTAL_FALLECIDOS']].sum()
espe=espe.reset_index()
espe

,CO_IPRESS,MES,ANHO,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,NRO_TOTAL_ESTANCIAS,NRO_TOTAL_PACIENTES_CAMAS,NRO_TOTAL_CAMAS,NRO_TOTAL_CAMAS_DISPONIB,NRO_TOTAL_FALLECIDOS
0,1,1,2022,602,678,2355,2314,97,3007,15
1,1,2,2022,694,694,2156,2038,108,3024,7
2,1,3,2022,711,711,2334,1908,108,3348,9
3,1,4,2022,627,627,2208,2371,108,3240,1
4,1,5,2022,653,653,2223,2292,108,3348,10
...,...,...,...,...,...,...,...,...,...,...
27330,31276,9,2022,0,0,0,0,0,0,0
27331,31276,10,2022,0,0,0,0,0,0,0
27332,31276,11,2022,0,0,0,0,0,0,0
27333,31276,12,2022,0,0,0,0,0,0,0
27334,31804,12,2022,0,0,0,0,0,0,0

## Recursos

In [152]:
recursos=pd.read_csv("Datasets\\Recursos\\ConsultaA_Recursos_Salud_2022_v22.csv",encoding='ISO-8859-1',sep=';')
recursos.replace('NE_0002', np.nan, inplace=True)
recursos.replace('NE_0001', np.nan, inplace=True)
recursos.fillna(0,inplace=True)
recursos=recursos[recursos['SECTOR']=='GOBIERNO REGIONAL']

In [153]:
recursos.iloc[:,10:26]=recursos.iloc[:,10:26].apply(pd.to_numeric)
columns_to_sum = recursos.columns[10:26]
recursos = recursos.groupby(['CO_IPRESS', 'MES','ANHO'])[columns_to_sum].sum()
recursos = recursos.reset_index()
recursos

,CO_IPRESS,MES,ANHO,CA_CONSULTORIOS,CA_CONSULTORIOS_FN,CA_CAMAS,CA_MEDICOS_TOTAL,CA_MEDICOS_SERUM,CA_MEDICOS_RESIDENTES,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,1,1,2022,17,20,97,71,0,14,133,5,6,7,1,57,14,214,8,1
1,1,2,2022,17,20,108,59,0,14,132,4,5,7,4,57,14,283,6,1
2,1,3,2022,17,20,108,66,0,14,126,4,3,6,4,57,13,278,8,1
3,1,4,2022,17,20,108,67,0,14,129,4,6,6,4,57,14,279,8,1
4,1,5,2022,17,20,108,62,0,14,128,4,6,5,4,55,14,260,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26606,31276,9,2022,5,5,0,1,0,1,2,1,0,0,0,4,0,5,0,0
26607,31276,10,2022,5,5,0,1,0,1,2,1,0,0,0,4,0,5,0,0
26608,31276,11,2022,5,5,0,1,0,1,2,1,0,0,0,4,0,5,0,0
26609,31276,12,2022,4,4,0,3,1,0,4,2,2,0,0,2,0,0,2,0
26610,31804,12,2022,2,2,0,0,0,0,1,0,0,0,0,0,0,1,0,0

## base final

In [154]:
print(recursos.shape)
print(nacimientos.shape)

(26611, 19)
(27282, 9)

In [155]:
df22 = pd.merge(recursos, nacimientos, on=['CO_IPRESS', 'MES', 'ANHO'], how='outer')
df22 = pd.merge(df22, cirugias, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df22 = pd.merge(df22, espe, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df22 = pd.merge(df22, procedimientos, on=['CO_IPRESS', 'MES','ANHO'], how='outer')
df22 = pd.merge(df22, complicaciones, on=['CO_IPRESS', 'MES','ANHO'], how='outer')

In [156]:
for i in df22.columns:
    print (i)

CO_IPRESS
MES
ANHO
CA_CONSULTORIOS
CA_CONSULTORIOS_FN
CA_CAMAS
CA_MEDICOS_TOTAL
CA_MEDICOS_SERUM
CA_MEDICOS_RESIDENTES
CA_ENFERMERAS
CA_ODONTOLOGOS
CA_PSICOLOGOS
CA_NUTRICIONISTAS
CA_TECNOLOGOS_MEDICOS
CA_OBSTETRICES
CA_FARMACEUTICOS
CA_AUXILIARES
CA_OTROS_PROF
CA_AMBULANCIAS
Partos_CESAREA
Partos_VAGINAL
Partos_vivos_CESAREA
Partos_vivos_VAGINAL
Partos_muertos_CESAREA
Partos_muertos_VAGINAL
DE_PROGRAMC
TOTAL_CIRUJ_MAY
TOTAL_CIRUJ_MEN
HORAS_PROGRAMADAS
HORAS_EFECTIVAS
HORAS_ACT_QUIRURJ
CIRUJ_SUSPEND
NRO_TOTAL_HOSPIT_ING
NRO_TOTAL_HOSPIT_EGR
NRO_TOTAL_ESTANCIAS
NRO_TOTAL_PACIENTES_CAMAS
NRO_TOTAL_CAMAS
NRO_TOTAL_CAMAS_DISPONIB
NRO_TOTAL_FALLECIDOS
TOTAL
Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis
Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.
Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).
Casos Nuevos de TBC pulmonar en el personal del EESS
Casos nuevos de infeccion HIV.
Fallecimientos en todos los servicios.
Nacidos vivos con bajo peso al nacer (< 2500 grs)
Nacidos vivos con edad gestacional menor a 37  semanas de gestaci√≥n (seg√∫n Fecha de Ultima Regla)
Ni√±os  de 37 meses que completaron por lo menos 6 controles CRED
Ni√±os de 37 meses que completaron esquema nacional de inmunizaciones
Numero de Casos Nuevos  de Infeccion Intrahospitalaria en Neonatos
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en Gineco obstetricia
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en UCI
Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter
Numero de Casos Nuevos de infeccion de herida operatoria
Numero de Controles Prenatales realizados.
Numero de muertes maternas
Numero de muertes neonatales (menos de 28 dias de nacido)
Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS
Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo
Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.

# Concat de todos

In [157]:
l=[df17,df18,df19,df20,df21,df22]
for i,x in enumerate(l):
    print(i+17,x.duplicated().sum(),x.shape)

17 0 (30915, 54)

18 0 (24076, 68)
19 0 (29664, 61)
20 0 (29012, 61)
21 0 (27826, 61)
22 0 (27508, 61)

In [158]:
df=pd.concat([df17,df18,df19,df20,df21,df22])

In [159]:
print('total',df.shape,df.duplicated().sum())

total (169001, 68) 158

In [160]:
df.to_excel('DB_detallado.xlsx', index=False) 
df17.to_excel('Bases de Apoyo\\DB_2017.xlsx', index=False) 
df18.to_excel('Bases de Apoyo\\DB_2018.xlsx', index=False) 
df19.to_excel('Bases de Apoyo\\DB_2019.xlsx', index=False) 
df20.to_excel('Bases de Apoyo\\DB_2020.xlsx', index=False) 
df21.to_excel('Bases de Apoyo\\DB_2021.xlsx', index=False) 
df22.to_excel('Bases de Apoyo\\DB_2022.xlsx', index=False)

In [161]:
columnas_resum=['fecha','CO_IPRESS','CA_CONSULTORIOS', 'CA_CONSULTORIOS_FN', 'CA_CAMAS','CA_MEDICOS_TOTAL','CA_MEDICOS_SERUM','CA_MEDICOS_RESIDENTES','CA_ENFERMERAS',
 'CA_ODONTOLOGOS','CA_PSICOLOGOS','CA_NUTRICIONISTAS','CA_TECNOLOGOS_MEDICOS', 'CA_OBSTETRICES','CA_FARMACEUTICOS','CA_AUXILIARES','CA_OTROS_PROF','CA_AMBULANCIAS']
df['fecha'] = pd.to_datetime(df['ANHO'].astype(str) + '-' + df['MES'].astype(str), format='%Y-%m')

In [162]:
concat_sumable=df[columnas_resum]
latest_entries = concat_sumable.groupby(['CO_IPRESS', concat_sumable['fecha'].dt.year]).apply(lambda x: x.sort_values('fecha').tail(1)).reset_index(drop=True)
latest_entries['ANHO']=latest_entries['fecha'].dt.year
latest_entries

,fecha,CO_IPRESS,CA_CONSULTORIOS,CA_CONSULTORIOS_FN,CA_CAMAS,CA_MEDICOS_TOTAL,CA_MEDICOS_SERUM,CA_MEDICOS_RESIDENTES,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS,ANHO
0,2017-11-01,1,31,42,120,58,0,18,88,4,2,3,1,33,6,252,5,1,2017
1,2018-12-01,1,17,21,120,66,0,12,96,5,5,3,1,36,14,232,8,1,2018
2,2019-12-01,1,17.0,21.0,108.0,66.0,0.0,12.0,96.0,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0,2019
3,2020-12-01,1,17,20,94,54,0,10,89,5,5,2,1,33,5,208,7,1,2020
4,2021-12-01,1,17,20,94,62,0,4,115,5,6,7,1,29,11,275,6,1,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16317,2022-12-01,30708,10,11,0,2,0,0,3,0,8,0,0,0,0,0,1,0,2022
16318,2022-12-01,30727,0,0,0,0,0,0,1,0,0,0,0,0,0,7,0,0,2022
16319,2022-12-01,31275,5,0,0,1,0,0,2,0,10,0,1,0,1,5,0,0,2022
16320,2022-12-01,31276,4,4,0,3,1,0,4,2,2,0,0,2,0,0,2,0,2022
16321,2022-12-01,31804,2,2,0,0,0,0,1,0,0,0,0,0,0,1,0,0,2022

In [163]:
columnas_resum=['fecha','CA_CONSULTORIOS', 'CA_CONSULTORIOS_FN', 'CA_CAMAS','CA_MEDICOS_TOTAL','CA_MEDICOS_SERUM','CA_MEDICOS_RESIDENTES','CA_ENFERMERAS',
 'CA_ODONTOLOGOS','CA_PSICOLOGOS','CA_NUTRICIONISTAS','CA_TECNOLOGOS_MEDICOS', 'CA_OBSTETRICES','CA_FARMACEUTICOS','CA_AUXILIARES','CA_OTROS_PROF','CA_AMBULANCIAS','ID_PROCEDIMIENTO',
'UBIGEO', 'DEPARTAMENTO','PROVINCIA','DISTRITO','SECTOR','CATEGORIA','RAZON_SOC','MES']
selected_columns = df[[col for col in df.columns if col not in columnas_resum]]
selected_columns=selected_columns.groupby(['CO_IPRESS','ANHO']).sum().reset_index()

In [164]:
selected_columns

,CO_IPRESS,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,...,Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS,Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo,Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.,DE_PROGRAMC,TOTAL_CIRUJ_MAY,TOTAL_CIRUJ_MEN,HORAS_PROGRAMADAS,HORAS_EFECTIVAS,HORAS_ACT_QUIRURJ,CIRUJ_SUSPEND
0,1,2017,1014,2045,1015,2050,11,0,6774,7429,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,1,2018,1041,2192,1029,2222,27,1,7267,8156,...,2156.0,0.0,0.0,33,2204,274,4849,3502.0,0,86
2,1,2019,1012,2345,982,2341,42,0,7364,8233,...,6526.0,0.0,0.0,36,2445,357,2791,3691,2300,0.0
3,1,2020,715,2647,672,2647,43,0,6707,7417,...,801.0,0.0,0.0,33,2585,184,1536,2675.0,0,29
4,1,2021,1231,2795,1202,2793,29,2,8060,8613,...,0.0,0.0,0.0,36,3033,100,1572,3887.0,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16317,30708,2022,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0
16318,30727,2022,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0
16319,31275,2022,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0
16320,31276,2022,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0
16321,31804,2022,0,2,0,2,0,0,0,0,...,2.0,0.0,2.0,0,0,0,0.0,0.0,0.0,0

In [165]:
merged_df = selected_columns.merge(latest_entries, on=['CO_IPRESS','ANHO'])
merged_df

,CO_IPRESS,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,...,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,1,2017,1014,2045,1015,2050,11,0,6774,7429,...,88,4,2,3,1,33,6,252,5,1
1,1,2018,1041,2192,1029,2222,27,1,7267,8156,...,96,5,5,3,1,36,14,232,8,1
2,1,2019,1012,2345,982,2341,42,0,7364,8233,...,96.0,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0
3,1,2020,715,2647,672,2647,43,0,6707,7417,...,89,5,5,2,1,33,5,208,7,1
4,1,2021,1231,2795,1202,2793,29,2,8060,8613,...,115,5,6,7,1,29,11,275,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16317,30708,2022,0,0,0,0,0,0,0,0,...,3,0,8,0,0,0,0,0,1,0
16318,30727,2022,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,7,0,0
16319,31275,2022,0,0,0,0,0,0,0,0,...,2,0,10,0,1,0,1,5,0,0
16320,31276,2022,0,0,0,0,0,0,0,0,...,4,2,2,0,0,2,0,0,2,0
16321,31804,2022,0,2,0,2,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [166]:
data_hosp=pd.read_csv('IPRESS.csv',encoding='ISO-8859-1',sep=',')
data_hosp = data_hosp.rename(columns={'C√≥digo √önico': 'CO_IPRESS'})
data_hosp = data_hosp.rename(columns={'Categoria': 'CATEGORIA'})
depxIPRESS=data_hosp[['CO_IPRESS','Departamento']]

In [167]:
depResm=merged_df.merge(depxIPRESS,on='CO_IPRESS')
depResm.drop(['fecha'], inplace=True,axis=1)

In [168]:
depResm

,CO_IPRESS,ANHO,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,Partos_vivos_VAGINAL,Partos_muertos_CESAREA,Partos_muertos_VAGINAL,NRO_TOTAL_HOSPIT_ING,NRO_TOTAL_HOSPIT_EGR,...,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS,Departamento
0,1,2017,1014,2045,1015,2050,11,0,6774,7429,...,4,2,3,1,33,6,252,5,1,LORETO
1,1,2018,1041,2192,1029,2222,27,1,7267,8156,...,5,5,3,1,36,14,232,8,1,LORETO
2,1,2019,1012,2345,982,2341,42,0,7364,8233,...,5.0,5.0,3.0,1.0,36.0,14.0,232.0,8.0,1.0,LORETO
3,1,2020,715,2647,672,2647,43,0,6707,7417,...,5,5,2,1,33,5,208,7,1,LORETO
4,1,2021,1231,2795,1202,2793,29,2,8060,8613,...,5,6,7,1,29,11,275,6,1,LORETO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16108,23969,2018,0,0,0,0,0,0,0,0,...,0,5,0,0,0,1,4,1,0,AREQUIPA
16109,23969,2019,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AREQUIPA
16110,23969,2020,0,0,0,0,0,0,0,0,...,0,8,0,0,0,1,1,0,0,AREQUIPA
16111,23969,2021,0,0,0,0,0,0,0,0,...,0,7,0,0,0,1,3,3,0,AREQUIPA
16112,23969,2022,0,0,0,0,0,0,0,0,...,0,8,0,0,0,1,3,1,0,AREQUIPA

In [171]:
depResm=depResm.groupby(['ANHO','Departamento']).sum().reset_index()

In [172]:
depResm.to_excel('Bases de Apoyo\\DB_Sum_y-dep.xlsx', index=False)

In [173]:
for i in depResm.columns:
    print(i)

ANHO
Departamento
CO_IPRESS
Partos_CESAREA
Partos_VAGINAL
Partos_vivos_CESAREA
Partos_vivos_VAGINAL
Partos_muertos_CESAREA
Partos_muertos_VAGINAL
NRO_TOTAL_HOSPIT_ING
NRO_TOTAL_HOSPIT_EGR
NRO_TOTAL_ESTANCIAS
NRO_TOTAL_PACIENTES_CAMAS
NRO_TOTAL_CAMAS
NRO_TOTAL_CAMAS_DISPONIB
NRO_TOTAL_FALLECIDOS
TOTAL
Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis
Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.
Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).
Casos Nuevos de TBC pulmonar en el personal del EESS
Casos nuevos de infeccion HIV.
Fallecimientos en todos los servicios.
Nacidos vivos con bajo peso al nacer (< 2500 grs)
Nacidos vivos con edad gestacional menor a 37  semanas de gestaci√≥n (seg√∫n Fecha de Ultima Regla)
Ni√±os  de 37 meses que completaron por lo menos 6 controles CRED
Ni√±os de 37 meses que completaron esquema nacional de inmunizaciones
Numero de Casos Nuevos  de Infeccion Intrahospitalaria en Neonatos
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en Gineco obstetricia
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en UCI
Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter
Numero de Casos Nuevos de infeccion de herida operatoria
Numero de Controles Prenatales realizados.
Numero de muertes maternas
Numero de muertes neonatales (menos de 28 dias de nacido)
Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS
Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo
Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
DE_PROGRAMC
TOTAL_CIRUJ_MAY
TOTAL_CIRUJ_MEN
HORAS_PROGRAMADAS
HORAS_EFECTIVAS
HORAS_ACT_QUIRURJ
CIRUJ_SUSPEND
CA_CONSULTORIOS
CA_CONSULTORIOS_FN
CA_CAMAS
CA_MEDICOS_TOTAL
CA_MEDICOS_SERUM
CA_MEDICOS_RESIDENTES
CA_ENFERMERAS
CA_ODONTOLOGOS
CA_PSICOLOGOS
CA_NUTRICIONISTAS
CA_TECNOLOGOS_MEDICOS
CA_OBSTETRICES
CA_FARMACEUTICOS
CA_AUXILIARES
CA_OTROS_PROF
CA_AMBULANCIAS

In [174]:
deita=data_hosp[['CO_IPRESS','NORTE','ESTE','UBIGEO','CATEGORIA']].merge(depResm,on='CO_IPRESS')
deita.head()

,CO_IPRESS,NORTE,ESTE,UBIGEO,CATEGORIA,ANHO,Departamento,Partos_CESAREA,Partos_VAGINAL,Partos_vivos_CESAREA,...,CA_ENFERMERAS,CA_ODONTOLOGOS,CA_PSICOLOGOS,CA_NUTRICIONISTAS,CA_TECNOLOGOS_MEDICOS,CA_OBSTETRICES,CA_FARMACEUTICOS,CA_AUXILIARES,CA_OTROS_PROF,CA_AMBULANCIAS
0,11153,-78.175966,-6.838212,60301,I-1,2017,UCAYALI,2343,4960,2192,...,273,6,10,4,3,95,10,529,9,4
1,11153,-78.175966,-6.838212,60301,I-1,2018,UCAYALI,2670,4801,2650,...,271,7,10,4,3,98,10,530,9,4
2,2940,-70.358564,-14.692462,210204,I-3,2018,PASCO,401,1019,329,...,82,9,7,2,4,46,7,67,108,10
3,2940,-70.358564,-14.692462,210204,I-3,2019,PASCO,759,1274,664,...,76.0,8.0,7.0,1.0,7.0,49.0,7.0,141.0,152.0,11.0
4,2940,-70.358564,-14.692462,210204,I-3,2020,PASCO,252,431,252,...,92,9,9,1,9,51,11,124,226,12

In [175]:
for i in deita.columns:
    print(i)

CO_IPRESS
NORTE
ESTE
UBIGEO
CATEGORIA
ANHO
Departamento
Partos_CESAREA
Partos_VAGINAL
Partos_vivos_CESAREA
Partos_vivos_VAGINAL
Partos_muertos_CESAREA
Partos_muertos_VAGINAL
NRO_TOTAL_HOSPIT_ING
NRO_TOTAL_HOSPIT_EGR
NRO_TOTAL_ESTANCIAS
NRO_TOTAL_PACIENTES_CAMAS
NRO_TOTAL_CAMAS
NRO_TOTAL_CAMAS_DISPONIB
NRO_TOTAL_FALLECIDOS
TOTAL
Casos Nuevos de Gestantes con diagnostico confirmado de Tuberculosis
Casos Nuevos de Gestantes con diagnostico confirmado de infecci√≥n HIV.
Casos Nuevos de TBC Multidrogoresistente (MDR o XDR).
Casos Nuevos de TBC pulmonar en el personal del EESS
Casos nuevos de infeccion HIV.
Fallecimientos en todos los servicios.
Nacidos vivos con bajo peso al nacer (< 2500 grs)
Nacidos vivos con edad gestacional menor a 37  semanas de gestaci√≥n (seg√∫n Fecha de Ultima Regla)
Ni√±os  de 37 meses que completaron por lo menos 6 controles CRED
Ni√±os de 37 meses que completaron esquema nacional de inmunizaciones
Numero de Casos Nuevos  de Infeccion Intrahospitalaria en Neonatos
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en Gineco obstetricia
Numero de Casos Nuevos de  Infeccion Intrahospitalaria en UCI
Numero de Casos Nuevos de Infecci√≥n del tracto urinario por cateter
Numero de Casos Nuevos de infeccion de herida operatoria
Numero de Controles Prenatales realizados.
Numero de muertes maternas
Numero de muertes neonatales (menos de 28 dias de nacido)
Partos en Gestantes que han recibido por lo menos un control prenatal en la IPRESS
Partos en gestante que han recibido la primera consulta prenatal en el primer trimestre del embarazo
Partos que se producen en gestantes que han recibido por lo menos 6 controles prenatales.
DE_PROGRAMC
TOTAL_CIRUJ_MAY
TOTAL_CIRUJ_MEN
HORAS_PROGRAMADAS
HORAS_EFECTIVAS
HORAS_ACT_QUIRURJ
CIRUJ_SUSPEND
CA_CONSULTORIOS
CA_CONSULTORIOS_FN
CA_CAMAS
CA_MEDICOS_TOTAL
CA_MEDICOS_SERUM
CA_MEDICOS_RESIDENTES
CA_ENFERMERAS
CA_ODONTOLOGOS
CA_PSICOLOGOS
CA_NUTRICIONISTAS
CA_TECNOLOGOS_MEDICOS
CA_OBSTETRICES
CA_FARMACEUTICOS
CA_AUXILIARES
CA_OTROS_PROF
CA_AMBULANCIAS

In [176]:
data17=deita[deita['ANHO']==2017]
data18=deita[deita['ANHO']==2018]
data19=deita[deita['ANHO']==2019]
data20=deita[deita['ANHO']==2020]
data21=deita[deita['ANHO']==2021]
data22=deita[deita['ANHO']==2022]

In [177]:
deita.to_excel('Bases de Apoyo\\DeitaSum.xlsx', index=False) 
data17.to_excel('Bases de Apoyo\\Deita17.xlsx', index=False) 
data18.to_excel('Bases de Apoyo\\Deita18.xlsx', index=False) 
data19.to_excel('Bases de Apoyo\\Deita19.xlsx', index=False) 
data20.to_excel('Bases de Apoyo\\Deita20.xlsx', index=False) 
data21.to_excel('Bases de Apoyo\\Deita21.xlsx', index=False) 
data22.to_excel('Bases de Apoyo\\Deita22.xlsx', index=False)